<h1 id="cc-title" class="text-center">Barbarian</h1>

<h2 id="cc-subtitle" class="text-center mb-5">Path of Anti Magic</h2>

<p id="subclass-overview-text" class="text-left mx-5 mb-5 p-2 rounded"><i>Many places across the world are home to
    beautiful, rampant and unpredictable magic. While there are those that took a few steps too close and were
    infused with these powerful magic, there exists those that were not chosen by mana. Instead, they were infused
    with the negative force of the world, denying the existence of magic as an embodiment of anti matter. These
    warriors walk the Path of Anti Magic.</i></p>

<h1 id="ability-title" class="text-left ml-5">Negative Coating</h1>
<p id="ability-text" class="text-left mx-5 mb-5">At 3rd level, you can use your action to touch one melee weapon
  that you are proficient with and infuses it with an anti magic coating. A magical weapon when applied with the
  anti magic coating will lose its magical properties. The weapon now is bound to you as your anti magic weapon and
  is also considered “magical” for the purpose of overcoming resistance and immunity to nonmagical attacks and
  damage. You can only apply this coating to 1 weapon and once applied, the coating will remain until you choose to
  dismisses it or apply it to a different weapon. Your DC for effects cause by the weapon equals 8 + your
  proficiency bonus + your Constitution modifier.</p>

<h1 id="ability-title" class="text-left ml-5">Arcane Nullification</h1>
<p id="ability-text" class="text-left mx-5 mb-5">Starting at 3rd level, your anti magic weapon ignores any increase
  to a creature's AC that comes from a spell effect and any creature that can use magic when struck by it must
  succeed on a Constitution saving throw or be temporarily unable to use magic until the end of their next round.
</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Absorb & Repel</h1>
<p id="ability-text" class="text-left mx-5">At 6th level, whenever a creature that can cast spells and has
  spell slots is hit with your anti magic weapon, they must succeed on a saving throw using their spellcasting
  ability modifier or respective ability modifier, or lose one available spell slot of the lowest level. If the
  lowest level of spell slots has none available, the creature loses the next highest level spell slot. Your anti
  magic weapon can only store 1 absorbed spell slot at a time.
  Then, as an action the wielder can channel the magic stored within the anti magic weapon and make a special ranged
  attack roll with it using the wielder's attack bonus with the sword with a range of 20/60. If this attack would
  hit, the damage dealt is that of the weapon’s damage but the damage type is random depending on the result of a
  d10 roll: </p>

<table class="mx-5 mb-5">
  <tr>
    <th class="p-1">Roll</th>
    <th class="p-1">Damage Type</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Acid</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Cold</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Fire</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Force</td>
  </tr>
  <tr>
    <td>5</td>
    <td>Lightning</td>
  </tr>
  <tr>
    <td>6</td>
    <td>Necrotic</td>
  </tr>
  <tr>
    <td>7</td>
    <td>Poison</td>
  </tr>
  <tr>
    <td>8</td>
    <td>Psychic</td>
  </tr>
  <tr>
    <td>9</td>
    <td>Radiant</td>
  </tr>
  <tr>
    <td>10</td>
    <td>Thunder</td>
  </tr>
</table>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Empty Fury</h1>
<p id="ability-text" class="text-left mx-5 mb-5">At 10th level, while you are raging, when you take damage or fail a
  saving throw caused by a spell from a creature within 60 ft of you, the anti magic within you immediately lashes
  out and you can spend your reaction to force the caster to succeed on a Wisdom saving throw or be Frightened of
  you for 2 rounds.</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Repellent Field</h1>
<p id="ability-text" class="text-left mx-5 mb-5">At 14th level, you gain full control of your anti magic aura and
  surrounds yourself with a thin, black translucent veil. With the veil active, you have advantage on all saving throws
  against spell effects.</p>