<h1 id="cc-title" class="text-center">Bard</h1>

<h2 id="cc-subtitle" class="text-center mb-5">College of Symphony</h2>

<p id="subclass-overview-text" class="text-left mx-5 mb-5 p-2 rounded"><i>
    The College of Symphony is home to bards that see the world as a constant harmony of collaborations, formed to
    create breath-taking masterpieces. Taught by master conductors, these individuals learned the importance of being a
    part of something much bigger than themselves with this lesson:
    “A solo is normally hailed as the most memorable part of a symphony but remove the symphony then on its own, there
    is no spark. The world is built upon collaborations and it is when a collection of individuals is brought under the
    same umbrella that true beauty is unleashed. Listen, students, music flows through every one of us, pick up your
    batons and guide it!”
    These bards are able to tap directly into the musical flow around us and manipulate it to begin a performance that
    leaves no one behind.
  </i></p>

{{!-- Level 3 --}}
<h1 id="ability-title" class="text-left ml-5">Conductor's Attire</h1>
<p id="ability-text" class="text-left mx-5 mb-2">At 3rd level when you select this subclass, you receive the College of
  Symphony’s attire for a conductor. It includes:</p>

<ul class="text-left mx-5 mb-5">
  <li>
    <p id="ability-text"><b>A conductor’s baton</b>: that you can use as your spellcasting focus for your bard spells.
      It can also be used as a <b>finesse</b> weapon that deals <b>1d4 Piercing</b> damage.</p>
  </li>
  <li>
    <p id="ability-text"><b>A tailored tuxedo</b>: this tuxedo provides the same AC bonus to the wearer as Studded
      Leather Armor and is considered magical. In addition, the tuxedo is enchanted to be able to repair itself over
      time.</p>
  </li>
</ul>

<h1 id="ability-title" class="text-left ml-5">Silent Repertoire</h1>
<p id="ability-text" class="text-left mx-5 mb-5">Starting at 3rd level, you can cast spells through movement alone. When
  you cast a bard spell that requires a somatic component, you can cast it without providing verbal or material
  components (unless the component has a specified cost or is consumed by the spell)</p>

<h1 id="ability-title" class="text-left ml-5">First Act: Performance of a Lifetime</h1>
<p id="ability-text" class="text-left mx-5 mb-4">Starting at 3rd level, as an action you can expend one use of your
  Bardic Inspiration die to select a score to conduct and start the performance of the score. When you do so, select a
  number of creatures within <b>60 ft</b> of you that you can see and they can see you up to a number equal to your
  Charisma
  modifier <b>(minimum of 1)</b>. Each of them will gain the benefits of the score that is being played.
</p>

<b id="ability-text" class="text-left mx-5 mb-5">Music Score</b>
<p id="ability-text" class="text-left mx-5 mb-3">A score is started when <b>First Act</b> is activated and will remain
  active for the duration of combat or until you are reduced to <b>0 hit points</b> and fall unconscious. Once the
  performance
  of a score is started, it cannot be changed unless <b>First Act</b> is used again.
</p>

<ul class="text-left mx-5 mb-5">
  <li>
    <b id="ability-text" class="text-left mb-5">Score 1: Lively Dance of The Fireflies</b>
    <p id="ability-text">Roll a <b>d12</b>. For the duration of the score, all chosen creatures have their movement
      speed
      increased. A roll of <b>1-4</b> increases their speed of 10 feet, a roll of <b>5-8</b> increases their speed by 15
      feet, and a
      roll of <b>9-12</b> increases their speed by 20 feet.</p>
  </li>
  <li>
    <b id="ability-text" class="text-left mb-5">Score 2: Sorrowful Death in The Family</b>
    <p id="ability-text">For the duration of the score, when a chosen creature takes damage from a melee attack, it can
      spend its reaction to deal Psychic damage equal to half a roll of your Bardic Inspiration die <b>(minimum of
        1)</b> and
      push the attacker <b>10 ft</b> away in a random direction</p>
  </li>
  <li>
    <b id="ability-text" class="text-left mb-5">Score 3: Long Live the Fighters</b>
    <p id="ability-text">For the duration of the score, the first melee attack made by a chosen creature during its turn
      deal extra Thunder damage equal to half of the number rolled <b>(minimum of 1)</b></p>
  </li>
</ul>

<hr class="mx-5 mb-5">

{{!-- Level 6 --}}
<h1 id="ability-title" class="text-left ml-5">Invite Musician</h1>
<p id="ability-text" class="text-left mx-5 mb-3">At 6th level, once per long rest as an action you can summon a member
  of your orchestra as a spectral construct for up to <b>5 hours</b>. The construct springs into existence in an
  unoccupied
  space on the ground within <b>60 ft</b> of you. It has <b>AC 12, 10 Hit Point, and a Strength of 10, and it can't
    attack</b>. As a
  bonus action, you can command the construct to enter or leave Invisibility, or dismiss it early if its services are no
  longer required for the moment. If the distance between you and the construct is <b>more than 60 ft</b>, it will
  dissipate.
</p>
<p id="ability-text" class="text-left mx-5 mb-3">Once on each of your turns as a bonus action, you can mentally command
  the construct to move up to <b>15 ft</b> and interact with an object. It can perform simple tasks that a human could
  do, such
  as fetching things, cleaning, mending, folding clothes, lighting fires, serving food, pouring drinks and playing
  music. Once you give the command, the construct performs the task to the best of its ability until it completes the
  task, then waits for your next command.</p>
<p id="ability-text" class="text-left mx-5 mb-3">When the construct is commanded to play music, it will summon a
  spectral instrument of your choice and play whatever tunes you desire. While the construct is playing music, you gain
  a bonus <b>1d4</b> to your Charisma (Persuasion) checks.</p>
<p id="ability-text" class="text-left mx-5 mb-5">If a creature succeeds on an attack roll against you, as a reaction you
  can switch places with the construct if it is within <b>60 ft</b> of you. The construct then takes the damage of the
  attack,
  regardless if the attack roll beats the construct’s AC or not.</p>


<h1 id="ability-title" class="text-left ml-5">Second Act: Slow Crash Through The Snow</h1>
<p id="ability-text" class="text-left mx-5 mb-4">At 6th level, when <b>First Act</b> is already active, as an action you
  can
  transition to the <b>Second Act</b> of the performance and choose a number of creatures within <b>60 ft</b> of you
  that you can see
  and are currently listening to the performance equal to your Charisma modifier <b>(minimum of 1)</b>. Each of them
  must
  succeed on a Wisdom saving throw against your spell save DC or have their movement speed reduced to 0 until the start
  of your next turn.
</p>


<b id="ability-text" class="text-left mx-5 mb-5">Score Progression</b>
<p id="ability-text" class="text-left mx-5 mb-3">When <b>Second Act</b> is activated, each of the musical scores gain an
  additional benefit and applies to all chosen creatures in <b>First Act</b>:
</p>

<ul class="text-left mx-5 mb-5">
  <li>
    <b id="ability-text" class="text-left mb-5">Score 1: Lively Dance of The Fireflies</b>
    <p id="ability-text">For the duration of the score, chosen creatures in <b>First Act</b> can use the Dash action as a bonus
      action and attacks of opportunity against them are made at disadvantage.</p>
  </li>
  <li>
    <b id="ability-text" class="text-left mb-5">Score 2: Sorrowful Death in The Family</b>
    <p id="ability-text">For the duration of the score, chosen creatures in <b>First Act</b> regains HP equal to half a
      roll of
      your Bardic Inspiration die <b>(minimum of 1)</b>. If they are full health then they gain temporary HP equal to
      that
      amount instead.</p>
  </li>
  <li>
    <b id="ability-text" class="text-left mb-5">Score 3: Long Live the Fighters</b>
    <p id="ability-text">For the duration of the score, before a chosen creature makes a melee attack, it can choose to
      take a <b>-5 penalty</b> to the attack roll. If the attack hits, it deals an <b>extra 5</b> damage.</p>
  </li>
</ul>

<hr class="mx-5 mb-5">

{{!-- Level 14 --}}
<h1 id="ability-title" class="text-left ml-5">Finale Act: Fortissimo Rondo</h1>
<p id="ability-text" class="text-left mx-5 mb-4">At 14th level, when <b>Second Act</b> is already active, as an action
  you can
  transition to the <b>Finale Act</b> of the performance. A massive spectral symphony hall is then summoned with the
  battlefield in the center.
</p>

<b id="ability-text" class="text-left mx-5 mb-5">Score Progression</b>
<p id="ability-text" class="text-left mx-5 mb-3">When <b>Finale Act</b> is activated, each of the musical scores gain an
  additional benefit and applies to all chosen creatures in <b>First Act</b>:
</p>

<ul class="text-left mx-5 mb-5">
  <li>
    <b id="ability-text" class="text-left mb-5">Score 1: Lively Dance of The Fireflies</b>
    <p id="ability-text">For the duration of the score, a chosen creature’s movement is unaffected by difficult terrain,
      and spells and other magical effects can neither reduce the target's speed nor cause the target to be <b>Paralyzed
        or Restrained</b>.</p>
  </li>
  <li>
    <b id="ability-text" class="text-left mb-5">Score 2: Sorrowful Death in The Family</b>
    <p id="ability-text">For the duration of the score, a chosen creature gains a <b>+2</b> to its AC and have advantage
      on Wisdom, Intelligence and Charisma saving throws.</p>
  </li>
  <li>
    <b id="ability-text" class="text-left mb-5">Score 3: Long Live the Fighters</b>
    <p id="ability-text">For the duration of the score, melee attacks made by a chosen creature scores a critical hit on
      a <b>roll of 18-20</b>.</p>
  </li>
</ul>