<h1 id="cc-title" class="text-center">Fighter</h1>

<h2 id="cc-subtitle" class="text-center mb-5">Shapeless Style</h2>

<p id="subclass-overview-text" class="text-left mx-5 mb-5 p-2 rounded">
    <i>The Shapeless sword style was developed as a direct counter to the Destruction martial arts style. As a
        swordsmen of the Shapeless style, you and your blade are one in the same and like water: free, flexible,
        formless and shapeless. The techniques involves the wielder pushing their body and weapon to their
        limits to match the fluid motions mimicking flowing water.</i>
</p>

<h1 id="ability-title" class="text-left ml-5">One with The Current</h1>
<p id="ability-text" class="text-left mx-5 mb-2">At 3rd level, you gain the following features</p>
<p id="ability-text" class="text-left mx-5 mb-2"><b>Flux points</b>: you gain access to a number of Flux points
    equal to your Wisdom modifier (minimum of 1). You regain all Flux points after a short or long rest.</p>

<b id="ability-text" class="text-left mx-5 mb-2">Laniat Blade</b>
<ul class="text-left mx-5 mb-4">
    <li>
        <p id="ability-text">At 3rd level, you receive your own Laniat Blade. A Laniat Blade is typically
            extremely thin and soft like a whip but it can also be straightened to be use as a regular sword
            depending on the wielder’s command.</p>
    </li>
    <li>
        <p id="ability-text">The sword provides a +1 to attack and damage rolls and has a 10 ft reach. In
            addition, techniques of the Shapeless Style can only be used with a Laniat Blade.</p>
    </li>
</ul>

<b id="ability-text" class="text-left mx-5 mb-2">Flow Stance</b>
<p id="ability-text" class="text-left mx-5 mb-2">At 3rd level, you gain access to the Flow Stance. You can
    enter the stance using a bonus action and while in this stance, you gain access to the techniques of the
    Shapeless Style as well as have advantage on Athletics and Acrobatics checks.</p>
<ul class="text-left mx-5 mb-5">
    <li>
        <b id="ability-text">Relentless Tidal Crash</b>
        <p id="ability-text">When you successfully land an attack on a creature, you can spend 1 Flux point to
            force that creature to make a Strength saving throw. On a fail, it is Grappled and you can move the
            creature up to 10 ft. The creature must be of size Medium or smaller to be moved and while it is
            grappled, it takes 1d4 Slashing damage at the start of its turn. A creature can make a Strength
            saving throw at the start of each of its turn to attempt to break free of the grapple.</p>
    </li>
    <li>
        <b id="ability-text">Droplet Thrust</b>
        <p id="ability-text">When you successful land an attack on a creature, you can spend 1 Flux point to make
            another attack with your bonus action. A creature hit by the bonus attack must make a Constitution saving
            throw or have its movement speed reduced to 0 until the start of your next turn.</p>
    </li>
    <li>
        <b id="ability-text">Waterfall Splash</b>
        <p id="ability-text">As a reaction to an incoming attack, you can spend a Flux point to enter a stance and
            impose disadvantage on that attack. If it misses, you then can spend another Flux point to make a melee
            attack against the creature and on a successful hit, it suffers the weapon damage and is pushed back 15 ft.
        </p>
    </li>
    <li>
        <b id="ability-text">Surface Mirror Ripples</b>
        <p id="ability-text">As a reaction to a successful melee attack against you, you can spend a Flux point to
            reduce the damage by the number you roll on your hit die. In addition, as part of the same reaction, you can
            move up to 10ft and do not provoke opportunity attacks.</p>
    </li>
</ul>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">One with The Flow</h1>
<p id="ability-text" class="text-left mx-5 mb-2">At 7th level, you gain another technique from the Shapeless Style and
    an additional feature.</p>

<p id="ability-text" class="text-left mx-5 mb-2"><b>Free</b>: you gain +10 to your movement speed</p>
<b id="ability-text" class="text-left mx-5 mb-3">Formless Dance, Calm Breeze</b>

<ul class="text-left mx-5 mb-5">
    <li>
        <p id="ability-text" class="text-left">When you successfully strike a creature with an attack, you can spend a
            Flux point to carry the momentum into more attacks. You can move up to half your movement speed towards a
            different creature and make an attack.</p>
    </li>
    <li>
        <p id="ability-text" class="text-left">If the attack hits, you can repeat this process again until you either
            run of out Flux points, the attack misses or you choose to stop. In addition, creatures have disadvantage on
            attacks of opportunity against you when you are moving with this feature.</p>
    </li>
</ul>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">One with The Rain</h1>
<p id="ability-text" class="text-left mx-5 mb-4">At 10th level, you gain access to the final two techniques in the
    Shapeless Style</p>

<b id="ability-text" class="text-left mx-5">Pouring Rain: Turbulent</b>
<p id="ability-text" class="text-left mx-5 mb-4">Pouring Rain: Turbulent
    As an action, you can spend 2 Flux points to enter a defensive stance. Until the start of your next turn, for every
    attack roll against you, you can make an opposed attack roll. If your roll wins, both you and the attacker takes
    half the damage of that attack. If your roll loses, only you take half the damage.</p>

<b id="ability-text" class="text-left mx-5">Gentle Rain: Quiet</b>
<p id="ability-text" class="text-left mx-5 mb-4">Gentle Rain: Quiet
    As an action, you can spend 2 Flux points to perform a single range slash at a creature within 30 ft of you. The
    attack makes no sound and the target must succeed on a Dexterity saving throw or take 7d10 Slashing damage. On a
    successful save, it takes half the damage. If this attack defeats a creature, you gain temp HP equal to its
    Constitution modifier.</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">One with The Water</h1>
<p id="ability-text" class="text-left mx-5 mb-4">At 15th level, you gain a permanent +1 to your maximum number of Flux
    points.</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Crashing Momentum</h1>
<p id="ability-text" class="text-left mx-5 mb-4">At 18th level, when you score a critical hit, you can immediately make
    another attack with your bonus action and the target takes the damage from the bonus action attack again at the
    start of its next turn.</p>