<h1 id="cc-title" class="text-center">Fighter</h1>

<h2 id="cc-subtitle" class="text-center mb-5">Starglade Blood Battle Style</h2>

<p id="subclass-overview-text" class="text-left mx-5 mb-5 p-2 rounded">
    <i>Created by the “Blood Battle God”, Kain Arwin Starglade. It was said that Starglade developed the style
        as a response to hunt vampires more effectively thanks to his innate talent for hemocraft. His initial
        goal with the style is for the eradication of all vampires but soon after, modifications was made to the
        style to be more well-rounded for general combat.</i>
    <br>
    <br>
    <i>To learn the Starglade Blood Battle Style is perhaps one of the hardest processed one can partake in.
        Starglade takes in extremely few apprentices with even fewer succeeding in mastering the style. The
        journey will be beyond difficult, but you will come out a terror in the eyes of evil threatening the
        innocents.</i>
    <br>
    <br>
    <i>To become a wielder of the Starglade Blood Battle Style is to be something most will fear. Your use of
        hemocraft will be questioned, despite for the greater good. But, what you carry in your hands and your
        body is too important to be swayed by any trivial discussions. Become a monster to fight back monsters
        and protect the innocents. Once fueled by vengeance, now fueled by justice, carry the Starglade legacy
        and honor it, not with the amount you have slayed but those you have saved.</i>
</p>

<h1 id="ability-title" class="text-left ml-5">Blood Manipulation</h1>
<p id="ability-text" class="text-left mx-5 mb-2">Upon selecting this subclass at 3rd level, you gain the ability
    to manipulate your blood by channeling magic through it and use it to perform blood techniques. You gain
    access to the following basic blood techniques</p>

<ul class="text-left mx-5 mb-4">
    <li>
        <p id="ability-text"><b>Cradle Weaver</b>: as an action, you create strands of blood emitting from your
            fingertips and weave a net made of blood that covers a 10ft radius area in a space up to 10 ft from
            you. The net can be used to hold up to 30 pounds of items or wrapped over an item to keep its shape
            together, similar to glue.</p>
    </li>
    <li>
        <p id="ability-text"><b>Extended Limb</b>: as an action, you form your blood into a hand which then can
            extend up to 60 ft from you. You can use your action to control the hand to manipulate an object,
            open an unlocked door or container, stow or retrieve an item from an open container, or pour the
            contents out of a vial. You can move the hand up to 30 feet each time you use it.</p>
    </li>
    <li>
        <p id="ability-text"><b>Seeking Tether</b>: as an action, you can make contact with a creature and
            attach your blood to it. The blood then extends into a thin line, tracking the creature’s movement
            and location. This line can extend for as long as you still have blood in your body but you lose 1
            hit point every round while using this technique.</p>
    </li>
</ul>

<h1 id="ability-title" class="text-left ml-5">Hemorrhage Trigger</h1>
<p id="ability-text" class="text-left mx-5 mb-4">You gain access to a Hemorrhage Trigger die, which is a d4, upon
    selecting this subclass at 3rd level. In order to use any blood techniques that are not the basic ones, you lose an
    amount of hit points equal to a roll of your Hemorrhage Trigger dice. The Hemorrhage Trigger die increase to a d6 at
    7th level, d8 at 10th level, d10 at 15th level and d12 at 18th level.</p>


<h1 id="ability-title" class="text-left ml-5">Starglade Blood Battle Techniques</h1>
<p id="ability-text" class="text-left mx-5 mb-4">When you select this subclass at 3rd level, you gain access to the
    Starglade Blood techniques. Some of the techniques require your target to make a saving throw to resist the
    technique’s effects. The saving throw DC is calculated as follows: Blood techniques save DC = 8 + your proficiency
    bonus + your Constitution modifier.</p>

<b id="ability-text" class="text-left mx-5 mb-5">Blood Weapon: Helspada</b>
<p id="ability-text" class="text-left mx-5 mb-4">As a bonus action, you create a crimson sword of solidified blood. The
    sword functions the same as a longsword in terms of properties and does extra radiant damage equal to a roll of your
    Hemorrhage Trigger dice. In addition, since the blade is made from your blood, you can choose to dismiss it as a
    free action.</p>

<b id="ability-text" class="text-left mx-5 mb-5">Blood Binding:</b>
<p id="ability-text" class="text-left mx-5 mb-4">As a bonus action, you attempt to bind a Large or smaller creature.
    Upon a successful hit with your Blood Weapon, the target must succeed on a Strength saving throw or have its
    movement speed reduced to 0 and unable to use reactions until the end of your next turn</p>

<b id="ability-text" class="text-left mx-5 mb-5">Blood Entrapment:</b>
<p id="ability-text" class="text-left mx-5 mb-4">As an action, you summon a 10 ft blood dome centered on yourself,
    surrounding you and all creatures within the area. The dome is an object that can be damaged and thus breached with
    12 AC, 100 HP. In addition, it lasts for a number of rounds equal to a roll of your Hemorrhage Trigger die or until
    destroyed or lowered by you with a bonus action.</p>

<b id="ability-text" class="text-left mx-5 mb-5">Blood Ignition:</b>
<p id="ability-text" class="text-left mx-5 mb-2">Can only be used while Blood Binding or Blood Dome is active. As a
    bonus action, you can choose to ignite your blood:</p>

<ul class="text-left mx-5 mb-4">
    <li>
        <b id="ability-text" class="text-left mb-5">Blood Binding:</b>
        <p id="ability-text">The target must succeed on a Constitution saving throw or take Fire damage equal to 3 rolls
            of your Hemorrhage Trigger die and half as much on a successful save.</p>
    </li>
    <li>
        <b id="ability-text" class="text-left mb-5">Blood Entrapment</b>
        <p id="ability-text">All creatures within the dome must succeed on a Constitution saving throw or take Fire
            damage equal to 3 rolls of your Hemorrhage Trigger die and half as much on a successful save.</p>
    </li>
</ul>

<b id="ability-text" class="text-left mx-5 mb-5">Blood Toxin:</b>
<p id="ability-text" class="text-left mx-5 mb-4">Upon taking damage from a melee attack, as a reaction you can cause your blood to become toxic and the attacker must succeed on a Constitution saving throw or suffer Radiant damage equal to a roll of your Hemorrhage Trigger die at the start of each of its turn for 1d4 rounds.</p>

<b id="ability-text" class="text-left mx-5 mb-5">Blood Fortify:</b>
<p id="ability-text" class="text-left mx-5 mb-4">As a bonus action, you ready yourself against a target within 30 ft of you. Until the end of your next turn, you have advantage on Intelligence, Wisdom or Charisma saving throws against the target.</p>

<b id="ability-text" class="text-left mx-5 mb-5">Blood Sight:</b>
<p id="ability-text" class="text-left mx-5 mb-3">As a bonus action, you touch a creature and place a blood mark on it. The target must make a Constitution saving throw and on a failure, you can perceive its true form if it is transformed by magic.</p>
<p id="ability-text" class="text-left mx-5 mb-4">The mark lasts for 1 hour or until it is dispelled. Whenever the creature attempts to change its form while the mark is still on it, it must succeed on a Constitution saving throw or take Radiant damage equal to 1 roll of your Hemorrhage die.</p>

<b id="ability-text" class="text-left mx-5 mb-5">Blood Replenishment:</b>
<p id="ability-text" class="text-left mx-5 mb-5">Upon taking damage from an attack, as a reaction you strengthen the blood within you and gain temporary hit points equal to a roll of your Hemorrhage Trigger die.</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Slayer’s Bane</h1>
<p id="ability-text" class="text-left mx-5 mb-5">Upon reaching 7th level, you have advantage on checks to track a creature based on its blood, whether fresh or old, as well as on Intelligence (History) checks to learn of any information about it from the blood.</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Exocrimson</h1>
<p id="ability-text" class="text-left mx-5 mb-3">At 10th level, the magic-infused blood further strengthens and fortifies your body. You are resistant to Necrotic damage and whenever you make a Strength, Dexterity or Constitution saving throw, you gain an extra bonus to the saving throw equal to a roll of your Constitution modifier.</p>
<p id="ability-text" class="text-left mx-5 mb-5">In addition, when you take the Dash action, you gain the ability to walk on walls as solid ground.</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Sanguinary Extraction</h1>
<p id="ability-text" class="text-left mx-5 mb-5">At 15th level, when you score a critical hit with your Blood Weapon, you heal an amount equal to 2 rolls of your Hemorrhage Trigger dice.</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">The Hunter</h1>
<p id="ability-text" class="text-left mx-5 mb-4">At 18th level, you gain the following benefits:</p>

<b id="ability-text" class="text-left mx-5 mb-5">Relentless:</b>
<p id="ability-text" class="text-left mx-5 mb-4">You are immune to Necrotic damage and the Charmed condition.</p>

<b id="ability-text" class="text-left mx-5 mb-5">Eternal Imprisonment:</b>
<p id="ability-text" class="text-left mx-5 mb-3">You learn the strongest technique of the Starglade Blood Battle Style. This technique is one’s proof of complete mastery of the style.</p>
<p id="ability-text" class="text-left mx-5 mb-5">When you successfully hit a target with your blood weapon, you can choose to perform this technique by expending the rest of your turn. You must speak aloud the target’s true name and force it to make a Constitution saving throw. On a failed save, the blood weapon splits into a net made of blood and wraps around the target, sealing them in a small crimson blade permanently. On a successful save, the target is not sealed but the save DC is increased by 1 when the sealing is attempted again. This seal can only be broken by a Wish spell or by the caster of the seal.</p>
