<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/css.css">
  <link href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap" rel="stylesheet">
  <link href="/fontawesome/css/all.css" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
    integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
    crossorigin="anonymous"></script>

  <title>{{title}}</title>
</head>

<body onload="loadFunctions()">

  <pre style="display: none;">


                      HAE-O I'M ART THE PUNSLINGER AND I'M THE SITE AUTHOR, NICE TO MEET YA ! :3

                      EZMARALD MADE ME CREDIT MYSELF HALP 3:


</pre>

  <main>
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light mb-4">
      <a id="main-name" class="navbar-brand text-white" href="/">Somnium</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Divinity
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/divinity/Radiance-pantheon">Radiance Pantheon</a>

              <a class="dropdown-item" href="/divinity/Shroud-pantheon">Shroud Pantheon</a>

              <a class="dropdown-item" href="/divinity/Masked-pantheon">Masked Pantheon</a>

              <a class="dropdown-item" href="/divinity/Viridi-pantheon">Viridi Pantheon</a>

              <a class="dropdown-item" href="/divinity/Prismatic-pantheon">Prismatic Pantheon</a>

              <a class="dropdown-item" href="/divinity/Grey-pantheon">Grey Pantheon</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active text-white" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Patrons
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/patrons/the-grand-designer">00 - The Grand Designer</a>

              <a class="dropdown-item" href="/patrons/the-abyssal-cacophony">Azimohz – The Abyssal Cacophony</a>

              <a class="dropdown-item" href="/patrons/the-great-tales">Hanako - The Great Tales</a>

              <a class="dropdown-item" href="/patrons/the-corrupting-calamity">Immienth – The Corrupting Calamity</a>

              <a class="dropdown-item" href="/patrons/the-dragon-collective">The Dragon Collective</a>

              <a class="dropdown-item" href="/patrons/the-mad-prophet">The Mad Prophet</a>

              <a class="dropdown-item" href="/patrons/the-silent-jester">The Silent Jester</a>

              <a class="dropdown-item" href="/patrons/the-scouring-terror">Xahaydiel - The Scouring Terror</a>

              <a class="dropdown-item" href="/patrons/the-abandoned">Malery - The Abandoned</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link disabled dropdown-toggle active text-black" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Factions
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {{!-- <a class="dropdown-item" href="#">[Insert Faction Name]</a> --}}
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link disabled dropdown-toggle active text-black" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Realms
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {{!-- <a class="dropdown-item" href="#">[Insert Realms Name]</a> --}}
            </div>
          </li>

          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Character Creation
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/origins">Origins</a>

              <a class="dropdown-item" href="/races">Races</a>

              <a class="dropdown-item" href="/subclasses">Subclasses</a>
            </div>
          </li>

          <li class="nav-item active">
            <a class="nav-link text-white" href="/spells">Spells<span class="sr-only"></span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link text-white" href="/homebrew-rules">Homebrew Rules<span class="sr-only"></span></a>
          </li>

        </ul>
      </div>
    </nav>

    {{{body}}}

  </main>

</body>

</html>