<h1 id="cc-title" class="text-center">Ranger</h1>

<h2 id="cc-subtitle" class="text-center mb-5">Planetary Observer</h2>

<p id="subclass-overview-text" class="text-left mx-5 mb-5 p-2 rounded">
    <i>Rangers who follow the path of the Planetary Observer understands that the world we live in is a small
        part in the larger cosmos, and establish a connection to planetary body in the Astral Sea, typically
        with Somnium’s moon, ____ and the sun, ______.</i>
</p>

<h1 id="ability-title" class="text-left ml-5">Heavenly Hex</h1>
<p id="ability-text" class="text-left mx-5 mb-5">At 3rd level, once per short or long rest as a bonus action you
    may choose up to 3 targets up to 60 ft away from you that you can see and mark them. For 1 minute, you deal
    an extra 1d4 Radiant damage to a marked target if it is within 60 ft of you. This damage increases by 1d4
    for every extra 30 ft an enemy is out of the radius (Ex: a marked enemy 90 ft away from you will take 2d4
    Radiant damage).</p>


<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Isolated Recovery</h1>
<p id="ability-text" class="text-left mx-5 mb-3">Also at 3rd level, you gain access to the following features:</p>

<ul class="text-left mx-5 mb-5">
    <li>
        <p id="ability-text"><b>Gaze of The Stars:</b> you can see up to 1 mile away with no difficulty and dim/low no
            longer impose disadvantage on your Perception checks.</p>
    </li>
    <li>
        <p id="ability-text"><b>Blinding Sanctuary:</b> once per long rest, as an action, you grant all allies within 30
            ft of you temporary hit points equal to 1d4 + your Wisdom modifier and if a creature hits you with a melee
            attack while you have the temporary hit points, the creature takes 1d4 Radiant damage.</p>
    </li>
</ul>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">High Time Catastrophe</h1>
<p id="ability-text" class="text-left mx-5 mb-5">At 7th level, once per long rest you can channel the power of the sun,
    _____ into your strikes. Expend an Attack action and make a range attack roll within your weapon’s range with
    advantage. On a hit, it deals Radiant damage equal to twice the damage dice of the weapon + your Wisdom modifier.
    You can choose additional targets by expending additional Attack actions.</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Steady Hold</h1>
<p id="ability-text" class="text-left mx-5 mb-5">Also at 7th level, if you have not move on your turn, you can use your
    bonus action to take aim carefully at your target. Until the end of your turn, your range weapon attacks made at its
    long range are no longer made with disadvantage but your movement speed is reduced to 0.</p>


<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Waltz Beneath The Spotlight</h1>
<p id="ability-text" class="text-left mx-5 mb-3">At 11th level, when you are hit with a melee attack, as a reaction, you
    can switch places with a creature within 60 ft of you that is marked with Heavenly Hex. In addition, you can make an
    attack roll against the creature that attacked you as part of the same reaction.</p>
<p id="ability-text" class="text-left mx-5 mb-5">You can use this feature a number of times equal to your Proficiency
    bonus and you regain all uses after a long rest.</p>


<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Critical Snipe</h1>
<p id="ability-text" class="text-left mx-5 mb-5">◦ At 15th level, whenever you make a range attack roll with advantage,
    if both rolls were to hit the target, the attack counts as a critical hit and the target must make a Constitution
    saving throw against your spell save DC or be Stunned until the start of your next turn.</p>