<h1 id="cc-title" class="text-center">Ranger</h1>

<h2 id="cc-subtitle" class="text-center mb-5">Serpent Whisperer</h2>

<p id="subclass-overview-text" class="text-left mx-5 mb-5 p-2 rounded">
    <i>To be added</i>
</p>

<h1 id="ability-title" class="text-left ml-5">Serpent Companion</h1>
<p id="ability-text" class="text-left mx-5 mb-5">At 3rd level, you gain a snake companion to accompany you on
    your journeys. It obeys your every command and remains on your person at all times. You can communicate
    telepathically with your snake companion and while it is on your person, you have advantage on all
    Perception and Survival checks. In addition, techniques of the Venom Style requires your snake companion in
    order to be used.</p>


<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Venom Style</h1>
<p id="ability-text" class="text-left mx-5 mb-3">Also starting at 3rd level, you learn the Venom fighting style,
    a style developed to work in cohesion with your weapon and your snake companion. The style mimics the
    movement of serpents and snakes to create attacks that seemingly bend and strike from any direction.</p>
<p id="ability-text" class="text-left mx-5 mb-3"><b>Poison Dice</b>: you gain access to a number of Poison dice,
    which are d4s, equal to your Dexterity modifier. A Poison die is expended upon being used and you regain all
    Poison dice after a short or long rest.</p>

<p id="ability-text" class="text-left mx-5 mb-1"><b>Techniques</b>:</p>

<ul class="text-left mx-5 mb-5">
    <li>
        <p id="ability-text" class="mb-1"><b>First Fang: Unwavering Bite</b></p>
        <p id="ability-text">When you successfully hit a creature with a melee attack, you can expend a Poison
            die to make it take additional Slashing damage equal to a roll of your Poison die and the next
            attack roll against the target by an attacker other than you has advantage if the attack is made
            before the start of your next turn.</p>
    </li>
    <li>
        <p id="ability-text" class="mb-1"><b>Second Fang: Coil, Slow Choke</b></p>
        <p id="ability-text">When you successfully land a melee attack against a creature, you can choose to
            expend a Poison die and your movement speed in increments of 10 ft to make the target suffer
            Slashing damage at the start of each of its turn equal to a roll of your Poison die for a number of
            rounds equal to the number of 10 ft increments sacrificed from your movement speed.</p>
    </li>
    <li>
        <p id="ability-text" class="mb-1"><b>Third Fang: Hidden Fangs of The Valley</b></p>
        <p id="ability-text">You can choose to forgo one of your attacks and expend a Poison die to multiple
            your movement speed by the result of the die until the end of your turn. When you move with the
            increased boost to your movement speed, you have advantage on Stealth checks.</p>
    </li>
    <li>
        <p id="ability-text" class="mb-1"><b>Fourth Fang: Shed Skin</b></p>
        <p id="ability-text">As a reaction to an attack against you, you can expend a Poison die and increase
            your AC by the result of the roll against that attack. If the attack misses, you can then
            immediately move up to your movement speed and attacks of opportunity have disadvantage against you.
        </p>
    </li>
    <li>
        <p id="ability-text" class="mb-1"><b>Fifth Fang: Infrared Awareness</b></p>
        <p id="ability-text">As an action, you can expend a Poison die to sense disturbances within the air.
            Until the end of your next turn, you know the position of any creature within a 60 ft radius. You
            know of a creature’s presence but not its identity or type.</p>
    </li>
</ul>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Venom Style Master</h1>
<p id="ability-text" class="text-left mx-5 mb-3">At 7th level, you learn the last technique in the Venom Style
    and gain an additional feature.</p>

<p id="ability-text" class="text-left mx-5 mb-1"><b>Sixth Fang: Slithering Serpent</b></p>
<ul class="text-left mx-5 mb-3">
    <li>
        <p id="ability-text">As an action, you can expend 2 Poison dice to perform this technique. You
            immediately move up to your movement speed and strike any number of creatures within the path. The
            travel path does not have to be in a set direction and while moving from this technique, attacks of
            opportunity against you are made with disadvantage.</p>
    </li>
    <li>
        <p id="ability-text">You will make a separate attack roll for each creature of your choice within the
            travel path, and whether the attack hits or misses, you will continue to travel and make another
            attack against a different target. The technique will end once you choose to stop or have expended
            all of your movement.</p>
    </li>
</ul>

<p id="ability-text" class="text-left mx-5 mb-5"><b>Slippery Predator</b>: you have advantage on Dexterity saving
    throws</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Spirit’s Chosen</h1>
<p id="ability-text" class="text-left mx-5 mb-3">At 11th level, you gain the following features:</p>

<p id="ability-text" class="text-left mx-5 mb-1"><b>Dreaded Visage</b></p>
<ul class="text-left mx-5 mb-3">
    <li>
        <p id="ability-text">At 11th level, you can manifest the spirit of the serpents. As a reaction, you unleash a
            terrifying hiss and all creatures within 30 ft of you that you can see must succeed on a Wisdom saving throw
            against your spell save DC or be Frightened of you until the end of your next turn. While a creature is
            Frightened of you from this ability, once per creature, you deal extra Slashing damage against it equal to a
            roll of your Poison die when you hit it with an attack.</p>
    </li>
    <li>
        <p id="ability-text">Once you use this feature, you can't do so again until you finish a long rest, unless you
            expend a spell slot of 3rd level or higher to use it again.</p>
    </li>
</ul>

<p id="ability-text" class="text-left mx-5 mb-5"><b>Superior Toxin</b>: your Poison dice increases to d6s.</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Reactive Scales</h1>
<p id="ability-text" class="text-left mx-5 mb-5">At 15th level, when you take damage from an attack, you can use your
    reaction to grant yourself resistance to that instance of damage and then you can immediately make an attack against
    the attacker if it is within reach of your weapon. You can use this feature a number of times equal to your
    Proficiency bonus and regains all uses after a long rest.</p>