<style>
    .sidenav {
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #450202;
        overflow-x: hidden;
        padding-top: 80px;
        padding-right: 2px;
    }

    #main-navbar {
        top: 0;
        width: 100%;
        position: fixed;
        z-index: 2;
    }

    .sidenav p {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 15px;
        color: #818181;
        display: block;
    }

    .sidenav p:hover {
        color: #f1f1f1;
        cursor: pointer;
    }

    .homebrew-rule-main {
        margin-left: 160px;
        /* Same as the width of the sidenav */
        padding-top: 80px;
    }
</style>

<div class="sidenav">
    <p id="exploding-click">Exploding Criticals</p>
    <p id="level-up-click">Gaining hit points upon level up</p>
    <p id="potion-click">Potion action economy</p>
    <p id="dragon-click">Dragonborn’s Breath Weapon</p>
    <p id="resurrection-click">Resurrection</p>
    <p id="death-click">Death saving throws</p>
    <p id="stacking-click">Stacking Advantage and Disadvantage</p>
    <p id="proficiencies-click">Gaining additional proficiencies</p>
</div>

<div class="homebrew-rule-main">
<h1 id="cc-title" class="text-center mb-5">Homebrew Rules</h1>

<div id="exploding-anchor">
    <h1 id="rule-title" class="text-left ml-5">Exploding Criticals</h1>
</div>

<p id="rule-text" class="text-left mx-5 mb-5">When a creature rolls a <b>natural 20</b> on an attack roll, the dice
    will
    “explode”. The creature is then prompted to roll a <b>second d20</b> called the “<b>First Exploding Roll</b>” to
    determine the
    bonus to the roll. If the “First Exploding Roll” is a natural 20 then the dice will “explode” again. The
    creature
    will then be prompted to roll a <b>third d20</b> called the “<b>Second Exploding Roll</b>”.</p>

<h3 id="rule-subtitle" class="text-left ml-5">Bonuses</h1>
    <b id="rule-text" class="text-left mx-5 mb-3">First Exploding Roll:</b>
    <ul class="text-left mx-5 mb-3">
        <li>
            <p id="rule-text" class="text-left mb-3"><b>1-10</b>: the attack receives no extra bonus damage</p>
        </li>
        <li>
            <p id="rule-text" class="text-left mb-3"><b>11-19</b>: the attack deal 1 extra damage dice</p>
        </li>
        <li>
            <p id="rule-text" class="text-left mb-3"><b>20</b>: the attack deals 2 extra damage dice and explodes
            </p>
        </li>
    </ul>

    <b id="rule-text" class="text-left mx-5 mb-5">First Exploding Roll:</b>
    <ul class="text-left mx-5 mb-3">
        <li>
            <p id="rule-text" class="text-left mb-3"><b>1-10</b>: the attack receives no extra bonus damage</p>
        </li>
        <li>
            <p id="rule-text" class="text-left mb-3"><b>11-19</b>: the attack deal 1 extra damage dice</p>
        </li>
        <li>
            <p id="rule-text" class="text-left mb-4"><b>20</b>: Extreme Critical</p>
        </li>
    </ul>

    <h3 id="rule-subtitle" class="text-left ml-5">Extreme Critical</h1>
        <p id="rule-text" class="text-left mx-5 mb-5">If the original d20 roll, the “First Exploding Roll” and the
            “Second Exploding Roll” are all natural 20 then the creature has achieved an “Extreme Critical”. The
            target
            of an “Extreme Critical” attack will die immediately because if you rolled 3 natural 20s in a row, then
            <b>you
                are the embodiment of pure awesomeness and nothing can stop you</b>.
        </p>

        <hr class="mx-5 mb-5">

        <div id="level-up-anchor">
            <h1 id="rule-title" class="text-left ml-5">Gaining hit points upon level up</h1>
        </div>

        <p id="rule-text" class="text-left mx-5 mb-3">A character upon level up will gain hit points equal to
            minimum of
            half of the hit dice + their Constitution modifier</p>
        <p id="rule-text" class="text-left mx-5 mb-5"><b>Example</b>: the minimum of hit points gained from a d12 is
            7,
            from a d10 is 6, from a d8 is 5 and from a d6 is 4</p>

        <hr class="mx-5 mb-5">
        <div id="potion-anchor">
            <h1 id="rule-title" class="text-left ml-5">Potion action economy</h1>
        </div>
        
        <b id="rule-text" class="text-left mx-5 mb-3">Drinking healing potions:</b>
        <ul class="text-left mx-5 mb-3">
            <li>
                <p id="rule-text" class="text-left mb-3"><b>Using an action</b>: the healing amount from the potion
                    will
                    be maximum</p>
            </li>
            <li>
                <p id="rule-text" class="text-left mb-4"><b>Using a bonus action</b>: the healing amount from the
                    potion
                    will remain as its dice rolls</p>
            </li>
        </ul>

        <p id="rule-text" class="text-left mx-5 mb-4"><b>Drinking other potions</b>: can be with either an action or
            a
            bonus action</p>

        <b id="rule-text" class="text-left mx-5 mb-3">Dodge and drink:</b>
        <p id="rule-text" class="text-left mx-5 mb-4">When you use an action to drink a potion in combat, you can
            also
            choose to expend all of your remaining actions to take the Dodge action.</p>

        <p id="rule-text" class="text-left mx-5 mb-5"><b>Feeding a potion to someone will require an action</b></p>

        <hr class="mx-5 mb-5">

        <div id="dragon-anchor">
            <h1 id="rule-title" class="text-left ml-5">Dragonborn’s Breath Weapon</h1>
        </div>

        <p id="rule-text" class="text-left mx-5 mb-5">The Breath Weapon of a dragonborn will require a <b>bonus
                action</b>.</p>

        <hr class="mx-5 mb-5">

        <div id="resurrection-anchor">
        <h1 id="rule-title" class="text-left ml-5">Resurrection</h1>
        </div>

        <p id="rule-text" class="text-left mx-5 mb-5">Powerful spells such as <b>Revivify</b> and
            <b>Resurrection</b>
            are treated as a challenge that must be overcome. The success of bringing back a character from the dead
            will depend on the <b>strength of the caster</b> and their companions. Failing the challenge of
            resurrection
            will result in the <b>permanent death</b> of the character and their soul is guided to the Realm Beyond.
        </p>

        <h3 id="rule-subtitle" class="text-left ml-5">Resurrection DC</h1>
            <p id="rule-text" class="text-left mx-5 mb-4">In order to resurrect a creature, a roll is made against
                its
                Resurrection DC, which <b>starts at 10</b>. For each time the creature dies and is successfully
                revived, its
                Resurrection DC <b>increases by 1</b>.</p>

            <h3 id="rule-subtitle" class="text-left ml-5">Using Revivify</h1>
                <p id="rule-text" class="text-left mx-5 mb-4">When the spell <b>Revivify</b> is used against a
                    creature, the
                    caster must make a spellcasting ability check against the target’s Resurrection DC. On a
                    <b>success</b>,
                    the spell takes effect and the creature is resurrected. On a <b>failure</b>, the creature’s
                    Resurrection DC
                    <b>increases by 1</b> and it can’t be resurrected until it is resurrected by a spell with a
                    casting time
                    <b>longer</b> than an action.
                </p>

                <h3 id="rule-subtitle" class="text-left ml-5">Resurrection Ritual</h1>
                    <p id="rule-text" class="text-left mx-5 mb-3">When a creature is targeted by a resurrection
                        spell
                        with a casting time <b>longer</b> than one action, such as <b>Raise Dead</b> or
                        <b>Resurrection</b>, a ritual is
                        initiated in which up to <b>3 creatures</b> can contribute in order to call the creature's
                        soul back to
                        their body. The creature makes an ability check with a skill the DM deems appropriate for
                        the
                        action, against a DC that the DM also determines.
                    </p>
                    <p id="rule-text" class="text-left mx-5 mb-5">For each <b>successful</b> check, the creature's
                        death DC is
                        <b>lowered by 3</b> for this ritual. For each <b>failure</b>, it <b>increases by 1</b> for
                        this ritual. The DM makes
                        the final roll against this DC. On a <b>success</b>, the creature is returned to life if its
                        soul is
                        willing. On a <b>failure</b>, the creature's soul is lost, and further resurrection rituals
                        fail
                        automatically.
                    </p>

                    <hr class="mx-5 mb-5">

                    <div id="death-anchor">
                    <h1 id="rule-title" class="text-left ml-5">Death saving throws</h1>
                    </div>

                    <p id="rule-text" class="text-left mx-5 mb-5">When rolling a death saving throw, the player will
                        roll it privately to determine whether the player character is approaching death or becoming
                        stable. The players will not know unless they provide some sort of check to see how they are
                        doing. The DM will announce whether the player is dead or stable.</p>

                    <hr class="mx-5 mb-5">

                    <div id="stacking-anchor">
                    <h1 id="rule-title" class="text-left ml-5">Stacking Advantage and Disadvantage</h1>
                    </div>
                    <p id="rule-text" class="text-left mx-5 mb-5">In a scenario where you already have advantage but
                        an
                        ability you use also gives you advantage, then you can <b>stack the two advantages
                            together</b>. This
                        will become a term called <b>Blessed Advantage</b> where you are able to roll at advantage
                        while also
                        <b>adding a 3</b> to your roll. With such a blessing must come a curse as <b>Cursed
                            Disadvantage</b> must play
                        a role too. In any case you roll at disadvantage and something else also gives you another
                        disadvantage on top of that, then you roll at a disadvantage while also <b>subtracting a
                            3</b> to your
                        roll. This ruling isn't only made for combat purposes, it can also serve for roleplay
                        purposes
                        as well if you deem that it fits into the narrative/scenario by asking the DM.
                    </p>

                    <hr class="mx-5 mb-5">

                    <div id="proficiencies-anchor">
                    <h1 id="rule-title" class="text-left ml-5">Gaining additional proficiencies</h1>
                    </div>

                    <p id="rule-text" class="text-left mx-5 mb-3">A player is now able to gain proficiency through
                        numerous sessions of practice using the weapon, armor, or tool they wish to learn. Upon
                        gaining
                        proficiency, the player must make a check that is equivalent to the usage of the weapon,
                        armor,
                        or tool they wish to use.</p>

                    <p id="rule-text" class="text-left mx-5 mb-3"><b>A total check of 100</b> will be sufficient to
                        gain
                        proficiency of said weapon, armor, or tool.</p>

                    <p id="rule-text" class="text-left mx-5 mb-3"><b>For example</b>: want to gain proficiency in a
                        longsword?
                        You must roll a d4 plus your bonus modifier of the designated skill check. Since you want to
                        gain proficiency in a longsword and your Athletics modifier is a +7, then it'll be a d4 + 7
                        =
                        total amount you get that day for an hour.</p>
                    <ul class="text-left mx-5 mb-3">
                        <li>
                            <p id="rule-text" class="text-left mb-3"><b>Day 1</b>: D4 + 7 == 3 + 7 == 10/100</p>
                        </li>
                        <li>
                            <p id="rule-text" class="text-left mb-3"><b>Day 2</b>: D4 + 7 == 1 + 7 == 18/100</p>
                        </li>
                        <li>
                            <p id="rule-text" class="text-left mb-3"><b>Day 3</b>: D4 + 7 == 2 + 7 == 27/100</p>
                        </li>
                        <li>
                            <p id="rule-text" class="text-left mb-3"><b>... and repeat.</b></p>
                        </li>
                    </ul>

                    <p id="rule-text" class="text-left mx-5 mb-5">A player is only able to make these kinds of
                        checks <b>once per day for an hour</b> if they choose to do so.</p>

</div>

<script>
document.getElementById("exploding-click").addEventListener("click", explodingClick);
document.getElementById("level-up-click").addEventListener("click", levelUpClick);
document.getElementById("potion-click").addEventListener("click", potionClick);
document.getElementById("dragon-click").addEventListener("click", dragonClick);
document.getElementById("resurrection-click").addEventListener("click", resurrectionClick);
document.getElementById("death-click").addEventListener("click", deathClick);
document.getElementById("stacking-click").addEventListener("click", stackingClick);
document.getElementById("proficiencies-click").addEventListener("click", proficienciesClick);

function explodingClick() {
    var top = document.getElementById("exploding-anchor").offsetTop;
    window.scrollTo(0, top-100);
}

function levelUpClick() {
    var top = document.getElementById("level-up-anchor").offsetTop;
    window.scrollTo(0, top-100);
}

function potionClick() {
    var top = document.getElementById("potion-anchor").offsetTop;
    window.scrollTo(0, top-100);
}

function dragonClick() {
    var top = document.getElementById("dragon-anchor").offsetTop;
    window.scrollTo(0, top-100);
}

function resurrectionClick() {
    var top = document.getElementById("resurrection-anchor").offsetTop;
    window.scrollTo(0, top-100);
}

function deathClick() {
    var top = document.getElementById("death-anchor").offsetTop;
    window.scrollTo(0, top-100);
}

function stackingClick() {
    var top = document.getElementById("stacking-anchor").offsetTop;
    window.scrollTo(0, top-100);
}

function proficienciesClick() {
    var top = document.getElementById("proficiencies-anchor").offsetTop;
    window.scrollTo(0, top-100);
}
</script>   