<h1 id="main-title" class="text-center">Somnium</h1>

<h6 class="text-center mb-4">Created by Ezmarald and Punslinger</h6>

<img id="index-isox-map" src="/img/map/isox_map.jpg" class="img-fluid mx-auto d-block my-3" alt="Isox Map">
