<h1 id="cc-title" class="text-center">Character Creations</h1>

<h2 id="cc-subtitle" class="text-center mb-5">Origins</h2>

<div class="d-flex flex-row ml-5 mb-4">
    <div id="region-div">
        <h2 id="region-title" class="ml-1">Regions</h2>
        <hr id="region-hr">
        <div id="region-list" class="container ml-2">
            <div class="row no-gutters">
                <div id="region-icons" class="col-md-auto mr-1">
                    <div class="mb-2">
                        <i class="fas fa-coins"></i>
                    </div>
                    <div class="mb-2">
                        <i class="fas fa-mountain"></i>
                    </div>
                    <div class="mb-2">
                        <i class="fas fa-book-dead"></i>
                    </div>
                    <div class="mb-2">
                        <i class="fas fa-book-dead"></i>
                    </div>
                    <div class="mb-2">
                        <i class="fas fa-hat-wizard"></i>
                    </div>
                    <div class="mb-2">
                        <i class="fas fa-tree"></i>
                    </div>
                    <div class="mb-2">
                        <i class="fas fa-biohazard"></i>
                    </div>
                    <div class="mb-2">
                        <i class="fas fa-anchor"></i>
                    </div>
                </div>

                <div id="region-names" class="col">
                    <div class="mb-2">
                        <a>Aprana</a>
                    </div>
                    <div class="mb-2">
                        <a>Clivania</a>
                    </div>
                    <div class="mb-2">
                        <a>Dreavan</a>
                    </div>
                    <div class="mb-2">
                        <a>Ewhil</a>
                    </div>
                    <div class="mb-2">
                        <a>Fruaqua</a>
                    </div>
                    <div class="mb-2">
                        <a>Ofrye</a>
                    </div>
                    <div class="mb-2">
                        <a>Pandora</a>
                    </div>
                    <div class="mb-2">
                        <a>The Boundless Ocean</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <img id="origin-isox-map" src="/img/map/isox_map.jpg"
        class="img-fluid w-75 mx-auto d-block border border-dark rounded" alt="Isox Map">
</div>