<h1 id="cc-title" class="text-center">Character Creations</h1>

<h2 id="cc-subtitle" class="text-center mb-5">Origins</h2>

<div class="d-flex flex-row ml-5 mb-4">
    <div id="region-div">
        <h2 id="region-title" class="ml-1">Regions</h2>
        <hr id="region-hr">
        <div id="region-list" class="container ml-2">
            <div class="row no-gutters">
                <div id="region-icons" class="col-md-auto mr-1">
                    {{#each regions}}
                    <div class="mb-2">
                        {{{icon}}}
                    </div>
                    {{/each}}
                </div>

                <div id="region-names" class="col">
                    {{#each regions}}
                    <div class="mb-2">
                        <a href="/origins{{{link}}}">{{name}}</a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

    <img id="origin-isox-map" src="/img/map/isox_map.jpg" class="img-fluid mx-auto border border-dark rounded"
        alt="Isox Map">
</div>