<h1 id="cc-title" class="text-center">Character Creations</h1>

<h2 id="cc-subtitle" class="text-center mb-5">Races</h2>

<div id="races" class="d-flex align-content-around flex-wrap justify-content-center text-center">
    {{#each races}}
    <a href="/races/{{this}}">{{this}}</a>
    {{/each}}
</div>