<h1 id="cc-title" class="text-center">Character Creations</h1>

<h2 id="cc-subtitle" class="text-center mb-5">Subclass</h2>

<div id="subclasses" class="d-flex align-content-around flex-wrap justify-content-start">
    <div class="mx-5 mb-5 p-2 rounded">
        <h2 class="text-center">Barbarian</h2>
        <hr class="mx-3">
        <a class="ml-4 mb-2">Path of Anti Magic</a>
    </div>

    <div class="mx-5 mb-5 p-2 rounded">
        <h2 class="text-center">Bard</h2>
        <hr class="mx-3">
        <a class="ml-4 mb-2">College of Symphony</a>
    </div>

    <div class="mx-5 mb-5 p-2 rounded">
        <h2 class="text-center">Cleric</h2>
        <hr class="mx-3">
        <a class="ml-4 mb-2">Emotion Domain</a>
    </div>

    <div class="mx-5 mb-5 p-2 rounded">
        <h2 class="text-center">Fighter</h2>
        <hr class="mx-3">
        <a class="ml-4 mb-2">Starglade Blood Battle Style</a>
        <a class="ml-4 mb-2">Shapeless Style</a>
    </div>

    <div class="mx-5 mb-5 p-2 rounded">
        <h2 class="text-center">Monk</h2>
        <hr class="mx-3">
        <a class="ml-4 mb-2">Way of the Silver Wing</a>
        <a class="ml-4 mb-2">Way of the Destruction Style</a>
    </div>

    <div class="mx-5 mb-5 p-2 rounded">
        <h2 class="text-center">Paladin</h2>
        <hr class="mx-3">
        <a class="ml-4 mb-2">Oath of The Void</a>
    </div>

    <div class="mx-5 mb-5 p-2 rounded">
        <h2 class="text-center">Rouge</h2>
        <hr class="mx-3">
        <a class="ml-4 mb-2">Pirate</a>
    </div>

    <div class="mx-5 mb-5 p-2 rounded">
        <h2 class="text-center">Sorcerer</h2>
        <hr class="mx-3">
        <a class="ml-4 mb-2">Demonic Bloodline</a>
    </div>

    <div class="mx-5 mb-5 p-2 rounded">
        <h2 class="text-center">Wizard</h2>
        <hr class="mx-3">
        <a class="ml-4 mb-2">School of Chorosurgy</a>
    </div>
</div>