<h1 id="cc-title" class="text-center">Character Creations</h1>

<h2 id="cc-subtitle" class="text-center mb-5">Subclass</h2>

<div id="subclasses" class="d-flex align-content-around flex-wrap justify-content-start">
    {{#each classes}}
    <div class="mx-5 mb-5 p-2 rounded">
        <h2 class="text-center">{{name}}</h2>
        <hr class="mx-3">
        {{#each subclass_list}}
        {{!-- Go to text/class.js to remove link --}}
        <a class="ml-4 mb-2" href="subclasses{{link}}">{{name}}</a>
        {{/each}}
    </div>
    {{/each}}
</div>