<h1 id="cc-title" class="text-center">Cleric</h1>

<h2 id="cc-subtitle" class="text-center mb-5">Emotion Domain</h2>

<p id="subclass-overview-text" class="text-left mx-5 mb-5 p-2 rounded"><i>The Emotion Domain focuses on the core of what
    makes every living creature unique: the various emotions they experienced. Collectively known as the Prismatic
    Pantheon, the Emotional Beings each govern one of the seven primary emotions of the emotional spectrum. While each
    have different views on matters and promote a variety of values to be treasured by their worshipers, clerics of the
    Emotion Domain are conduits that channels the very essence of their Being and guide others that following one's
    heart is not foolish but freeing.</i></p>

<h1 id="ability-title" class="text-left ml-5">Domain Spells</h1>
<p id="ability-text" class="text-left mx-5">At each indicated cleric level, add the listed spells to your spells
  prepared. They do not count towards your limit.</p>

<table class="mx-5 mb-3">
  <tr>
    <th class="p-1">Cleric Level</th>
    <th class="p-1">Spells</th>
  </tr>
  <tr>
    <td>1st</td>
    <td>Charm Person, Hellish Rebuke</td>
  </tr>
  <tr>
    <td>3rd</td>
    <td>Calm Emotions, Suggestion</td>
  </tr>
  <tr>
    <td>5th</td>
    <td>Beacon of Hope, Fear</td>
  </tr>
  <tr>
    <td>7th</td>
    <td>Confusion, Aura of Purity</td>
  </tr>
  <tr>
    <td>9th</td>
    <td>Dominate Person, Hallow</td>
  </tr>
</table>

<h1 id="ability-title" class="text-left ml-5">Bonus Proficiency</h1>
<p id="ability-text" class="text-left mx-5 mb-3">You gain proficiency in Insight.</p>

<h1 id="ability-title" class="text-left ml-5">Heed My Words</h1>
<p id="ability-text" class="text-left mx-5 mb-3">Twice per long rest, you can cast the Command spell without expending
  a spell slot and as a bonus action.</p>

<h1 id="ability-title" class="text-left ml-5">Channel Divinity: Command Behavior</h1>
<p id="ability-text" class="text-left mx-5 mb-5">At 2nd level, as an action, choose a creature that you can see. That
  creature must make a Wisdom saving throw. If fail, you may make the target feel a certain emotion towards a certain
  creature. The target becomes charmed by, frightened of or hostiles towards the creature of your choice that you can
  see. This effect lasts for 1 minute.</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Blessing of the Prism</h1>
<p id="ability-text" class="text-left mx-5">At 6th level, you gain one of the following abilities depending on which
  Emotional Being from the Prismatic Pantheon you follow</p>

<table class="mx-5 mb-5">
  <tr>
    <th class="p-1">Color</th>
    <th class="p-1">Benefit</th>
  </tr>
  <tr>
    <td>Red</td>
    <td>Whenever you cast an attack spell or make a melee attack, you can add your Wisdom modifier to the damage roll.
    </td>
  </tr>
  <tr>
    <td>Orange</td>
    <td>You gain a 15 ft radius aura. Once per long rest, the first ally to go unconscious while within your aura is
      instead taken down to 1 HP. In addition, all allies within the aura have advantage on death saving throws.</td>
  </tr>
  <tr>
    <td>Yellow</td>
    <td>As an action, select 1 enemy you can see, that enemy must make a Wisdom saving throw. On a failed save, that
      creature is discouraged against attacking and have disadvantage on attack rolls for 1 minute. At the end of each
      of the creature’s turn, it can remake the saving throw.</td>
  </tr>
  <tr>
    <td>Green</td>
    <td>Allies within 30 ft of you have advantage on saving throws against being frightened and enemies within this aura
      has disadvantage against frightened effects.</td>
  </tr>
  <tr>
    <td>Blue</td>
    <td>You may choose 1 additional target when you cast beneficial spells that target multiple allies and all targets
      of the spell gains temporary hit points equal to your Wisdom modifier.</td>
  </tr>
  <tr>
    <td>Pink</td>
    <td>When an ally adjacent to you is attacked, you can use your reaction to change the attack target to yourself and
      add your proficiency bonus to your AC.</td>
  </tr>
  <tr>
    <td>Purple</td>
    <td>You can select an enemy within 60 ft that you can see and take away 1 beneficial effect that they have and apply
      it to yourself (if applicable). You can use this ability once per long rest. In addition, you do 1d4 extra Psychic
      damage for each beneficial effect active on yourself.</td>
  </tr>
</table>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Spectrum's Chosen</h1>
<p id="ability-text" class="text-left mx-5 mb-5">Beginning at 8th level, all damage spells you cast now do an additional
  1d8 + your Wisdom modifier Psychic damage. In addition, you are immune to all emotion-based effects that would affect
  you negatively.</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Prismatic Herald</h1>
<p id="ability-text" class="text-left mx-5 mb-5">At 17th level, once per long rest, you can choose to drop to 1 hit
  point instead when you would be reduced to 0 hit points. In addition, if you or an ally within 30 ft of you roll a
  natural 20 on a saving throw, you regain a use of your Channel Divinity.</p>