<h1 id="cc-title" class="text-center">Warlock</h1>

<h2 id="cc-subtitle" class="text-center mb-5">Marionettist</h2>

<p id="subclass-overview-text" class="text-left mx-5 mb-5 p-2 rounded">
    <i>Your patron is a powerful entity with the power to easily bend the mind, bodies and soul of others to
        fulfill their ambitions, the Marionettist. Whether you enter this pact willingly or not, all that
        matters now is that you are no longer in control and when the strings are pulled, you better play your
        part.</i>
</p>

<h1 id="ability-title" class="text-left ml-5 mb-3">Expanded Spell List</h1>
<table class="mx-5 mb-5">
    <tr>
        <th class="p-1">Cleric Level</th>
        <th class="p-1">Spells</th>
    </tr>
    <tr>
        <td>1st</td>
        <td>Command, Dissonant Whispers</td>
    </tr>
    <tr>
        <td>2nd</td>
        <td>Rope Trick, Detect Thoughts</td>
    </tr>
    <tr>
        <td>3rd</td>
        <td>Animate Dead, Tiny Servant</td>
    </tr>
    <tr>
        <td>4th</td>
        <td>Compulsion, Dominate Beast</td>
    </tr>
    <tr>
        <td>5th</td>
        <td>Animate Objects, Dominate Person</td>
    </tr>
</table>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Ventriloquist</h1>
<p id="ability-text" class="text-left mx-5 mb-5">Starting at 1st level, when you cast a spell that requires a
    verbal component, it is ignored.</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Strings Attached</h1>
<p id="ability-text" class="text-left mx-5 mb-3">At 1st level, as an action you can select a creature within 60
    ft of you that you can see. It must succeed on a Wisdom saving throw or fall under your influence. For 5
    minutes, you have advantage on all Charisma checks against it.</p>
<p id="ability-text" class="text-left mx-5 mb-3">As an action, you can choose to further extend your grasp on
    the target and force the target to make another Wisdom saving throw. On a failed save, you can force it to
    move up to half its movement speed to an unoccupied space. If it succeeds, your control is disconnected.
    Either way, the target knows that you are controlling it and can make an opposed Intelligence check against
    your own and if it succeeds, the effect ends.</p>
<p id="ability-text" class="text-left mx-5 mb-5">This feature requires concentration to maintain control over
    the target and you can use this feature once per short or long rest.</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Soulless Puppet</h1>
<p id="ability-text" class="text-left mx-5 mb-3">Starting at 1st level, when your hit points would drop to 0, you patron
    can choose to intercept. If unwilling, you must succeed on a DC 13 Wisdom saving throw to resist the take over. On a
    failed save or you do not resist you patron’s interference, spectral strings appears and connect to your unconscious
    body.</p>
<p id="ability-text" class="text-left mx-5 mb-5">When your patron has control of your body, they can drag it up to half
    your movement in a random direction and make a melee attack roll against the closest target within range. You remain
    in this state until you regain consciousness and must still make death saves as normal.</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Manufacture Marionette</h1>
<p id="ability-text" class="text-left mx-5 mb-3">At 6th level, you can spend an action to puppeteer the corpse of a
    Beast or Humanoid of size medium or smaller that has died for at most 30 days. The body rises up with hit points
    equal to your Warlock level and uses the Zombie stat block from the Monster Manual. In addition, you gain access to
    its memories from its last 7 days of life.</p>
<p id="ability-text" class="text-left mx-5 mb-3">In combat, the puppet’s turn goes immediately after yours and it can
    move up to 60 ft away from you and gain a bonus to its attack roll equal to your Charisma modifier (minimum of +0).
</p>
<p id="ability-text" class="text-left mx-5 mb-5">The puppet remains in your control until either you are incapacitated,
    it is reduced to 0 hit points or 1 hour has passed since you took control of it. You can use this feature a number
    of times equal to your Charisma modifier (minimum of 1).</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">The More The Merrier</h1>
<p id="ability-text" class="text-left mx-5 mb-3">Starting at 10th level, you can now control 2 puppets with Manufacture
    Marionette. Taking control requires an action for each, but both may be commanded on each of the puppeteer’s turns.
</p>
<p id="ability-text" class="text-left mx-5 mb-5">In addition, you now can see through either of the puppet’s eyes and
    hear what they hear as well. As an action, you can choose to speak through a puppet in any language that you know or
    the puppet knew when it was alive.</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Encroaching Infiltration</h1>
<p id="ability-text" class="text-left mx-5 mb-5">At 10th level, when a puppet lands an attack on a creature, you can
    spend your reaction to spread your influence into the target. It must make a Wisdom saving throw and on a failed
    save, you can immediately make a knowledge check on the target with advantage.</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Master Puppeteer</h1>
<p id="ability-text" class="text-left mx-5 mb-3">At 14th level, you can now use Manufacture Marionette on any type of
    creature and your puppets now uses their own stat blocks instead of the Zombie stat block.</p>
<p id="ability-text" class="text-left mx-5 mb-5">In addition, Manufacture Marionette now can be used on creatures of
    size Large or smaller. 2 uses of Manufacture Marionette must be expended to raise a Large creature and you can not
    summon another puppet while the Large size puppet is active.</p>