<h1 id="cc-title" class="text-center">Sorcerer</h1>

<h2 id="cc-subtitle" class="text-center mb-5">Demonic Bloodline</h2>

<p id="subclass-overview-text" class="text-left mx-5 mb-5 p-2 rounded"><i>Your innate magic comes from demonic magic
    that was mingled with your blood or that of your ancestors. Many who bear this power can trace their magic back to
    an ancestor making a deal with a denizen of the Hells of Movys or who might even claimed one as a parent. Most
    considered the origin of the power to be cursed and will do anything to get rid of it while others view this as an
    opportunity to reach higher heights. However you came to view it, this magic flows within you and whether you like
    it or not, with it comes the connection to Movys and their twisted game, waiting for a new player to join the
    board.</i></p>

<h1 id="ability-title" class="text-left ml-5">Demonic Magic</h1>
<p id="ability-text" class="text-left mx-5 mb-3">You learn additional spells when you reach certain levels in this
  class, as shown on the Clockwork Spells table. Each of these spells counts as a sorcerer spell for you, but it doesn't
  count against the number of sorcerer spells you know.</p>

<table class="mx-5 mb-5">
  <tr>
    <th class="p-1">Sorcerer Level</th>
    <th class="p-1">Spells</th>
  </tr>
  <tr>
    <td>1st</td>
    <td>Hex, Hellish Rebuke</td>
  </tr>
  <tr>
    <td>3rd</td>
    <td>Crown of Madness, Darkness</td>
  </tr>
  <tr>
    <td>5th</td>
    <td>Hunger of Hadar, Vampiric Touch</td>
  </tr>
  <tr>
    <td>7th</td>
    <td>Blight, Wall of Fire</td>
  </tr>
  <tr>
    <td>9th</td>
    <td>Dream, Infernal Calling</td>
  </tr>
</table>

<h1 id="ability-title" class="text-left ml-5">Fiendish Origins</h1>
<p id="ability-text" class="text-left mx-5 mb-2">At 1st level, you gain the following features from your demonic
  heritage.</p>
<b id="ability-text" class="text-left mx-5 mb-3">Inheritance from Movys</b>

<ul class="text-left mx-5 mb-5">
  <li>
    <p id="ability-text">You can speak, read and write Abyssal.</p>
  </li>
  <li>
    <p id="ability-text">You gain Darkvision of 60 ft that can see through both magical and nonmagical darkness.</p>
  </li>
</ul>

<h1 id="ability-title" class="text-left ml-5">Sinner's Sense</h1>
<p id="ability-text" class="text-left mx-5 mb-5">Your demonic blood tingles in the presence of demonic entities. You
  passively perceive demonic beings and things influenced by demons if they are within 20 ft of you, and have advantage
  on checks to identify them outside of 20 ft.</p>

<h1 id="ability-title" class="text-left ml-5">Let's Play a Game</h1>
<p id="ability-text" class="text-left mx-5 mb-3">Starting at 1st level, you gain access to the ruthless game played by
  beings from the Hells of Movys and those who inherited their blood. What are you playing for? For them, nothing other
  than pure entertainment. But for you, it is about survival and as much as you hate it, they can “help”.</p>

<ul class="text-left mx-5 mb-3">
  <li>
    <p id="ability-text"><b>Double Down</b>: as a bonus action, you can choose to wager a portion of yourself to gain a
      boost in power. Depending on the type of sacrifice you make will determine what benefits you received. The
      sacrifice will be reverted once you make a long rest.</p>
    <table class="mb-4">
      <tr>
        <th class="p-1">Wager</th>
        <th class="p-1">Benefit</th>
        <th class="p-1">Trade off</th>
      </tr>
      <tr>
        <td>Temporary lost of an arm</td>
        <td>
          <ul class="text-left">
            <li>Creatures that take damage from your spells take an additional 1d4 Fire or Cold damage (your choice)
            </li>
          </ul>
        </td>
        <td>
          <ul class="text-left mr-2">
            <li>Unable to hold anything two-handed</li>
            <li>Can only hold 1 object at a time</li>
            <li><b>-5</b>penalty to climbing, swimming, Athletics and Sleight of Hand checks</li>
            <li><b>-2</b>to hit with melee attacks</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>Temporary lost of both arms</td>
        <td>
          <ul class="text-left">
            <li>You gain a +1 to spell attack rolls and spell save DC</li>
            <li>Creatures that take damage from your spells take an additional 1d6 Fire or Cold damage (your choice)
            </li>
            <li>Concentration spells have their duration doubled</li>
          </ul>
        </td>
        <td>
          <ul class="text-left mr-2">
            <li>Can not hold and use objects</li>
            <li>Can not make climbing, swimming, Athletics and Sleight of Hand checks</li>
            <li>Can not make melee attacks</li>
            <li>Roll a d6 when you cast a spell that requires a somatic component. The spell will fail if the result is
              2-3. On a 1, a Wild Magic effect will trigger.</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>Temporary lost of a leg</td>
        <td>
          <ul class="text-left">
            <li>Creatures that take damage from your spells take an additional 1d4 Fire or Cold damage (your choice)
            </li>
          </ul>
        </td>
        <td>
          <ul class="text-left mr-2">
            <li><b>-5</b>penalty to climbing, swimming, Stealth and Acrobatics checks</li>
            <li>Your movement speed is reduced to half</li>
            <li>You fall Prone after taking the Dash action</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>Temporary lost of both legs</td>
        <td>
          <ul class="text-left">
            <li>You gain a +1 to spell attack rolls and spell save DC</li>
            <li>Creatures that take damage from your spells take an additional 1d6 Fire or Cold damage (your choice)
            </li>
            <li>Teleportation spells have their range doubled</li>
          </ul>
        </td>
        <td>
          <ul class="text-left mr-2">
            <li>Your are now always considered Prone</li>
            <li>Can not use the Dash action</li>
            <li>Can only move 5 ft as a full round action</li>
            <li><b>-7</b>penalty to climbing, swimming, Stealth and Acrobatics checks</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>Temporary lost of an eye</td>
        <td>
          <ul class="text-left">
            <li>You can read all writing (a piece of text can only be read using this way for 1d4 times)</li>
            <li>You have advantage on saving throws against abilities that rely on you making eye contact with the
              target</li>
          </ul>
        </td>
        <td>
          <ul class="text-left mr-2">
            <li>Disadvantage on range attack rolls</li>
            <li>Disadvantage on checks relying on sight</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>Temporary blindness</td>
        <td>
          <ul class="text-left">
            <li>You gain Blindsight of 60 ft</li>
            <li>You can communicate telepathically to all creatures within 60 ft of you. Your telepathic utterances are
              in a language you know, and the creature understands you only if it knows that language.</li>
            <li>You are unaffected by abilities that rely on you making eye contact with the target</li>
            <li>You understand all languages that you can hear</li>
          </ul>
        </td>
        <td>
          <ul class="text-left mr-2">
            <li>You are now always considered Blinded</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>Temporary lost of an ear</td>
        <td>
          <ul class="text-left">
            <li>You have advantage on saving throws against abilities that rely on you hearing the target</li>
            <li>You have advantage on Investigation and Intimidation checks.</li>
            <li>If you can see a creature's mouth while it is speaking a language you understand, you have advantage on
              checks to interpret what it's saying by reading its lips.</li>
            <li>As an action, you can point at a creature of your choice within 60 feet of you. The creature must
              succeed on a Dexterity saving throw, or take 2d6 Fire or Cold damage (your choice) on a failed save, or
              take half as much damage on a successful one.</li>
          </ul>
        </td>
        <td>
          <ul class="text-left mr-2">
            <li>Disadvantage on checks that rely on hearing</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>Temporary deafness</td>
        <td>
          <ul class="text-left">
            <li>You are unaffected by abilities that rely on you hearing the target</li>
            <li>If you can see a creature's mouth while it is speaking a language you understand, you can interpret what
              it's saying by reading its lips.</li>
            <li>As a reaction to an incoming attack, you can impose disadvantage on that attack.</li>
            <li>As an action, you can point at a creature of your choice within 60 feet of you. The creature must
              succeed on a Dexterity saving throw, or take 2d6 Fire or Cold damage (your choice) on a failed save, or
              take half as much damage on a successful one.</li>
          </ul>
        </td>
        <td>
          <ul class="text-left mr-2">
            <li>You are now always considered Deafened</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>Temporary muteness</td>
        <td>
          <ul class="text-left">
            <li>The demon voice replacing yours will only speak in powerwords. As an action, you can ask the demon for
              help and it will speak a powerword. Once a powerword is spoken, you suffer 1 level of Exhaustion.</li>
            <li>Whenever the demon speaks, all creatures that can hear it must succeed on a Wisdom saving throw or be
              Frightened of you until the end of their next turn.</li>
          </ul>
        </td>
        <td>
          <ul class="text-left mr-2">
            <li>You can not speak or cast spells with a verbal component</li>
            <li>Whenever you try to speak, a demon’s voice comes out instead.</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>Reduction of number of spells slots available</td>
        <td>
          <ul class="text-left">
            <li>As an action, choose a creature within 60 ft of you that you can see, it gains temporarily hit points at
              the start of each of its turn equal to the amount of spell slots sacrificed (these tempporary hit points
              do not stack with each other).</li>
          </ul>
        </td>
        <td>
          <ul class="text-left mr-2">
            <li>Up to 5 spells slots of any level (slots sacrificed can be of different levels) can be sacrificed.</li>
          </ul>
        </td>
      </tr>

    </table>
  </li>
  <li>
    <p id="ability-text"><b>Tip The Scales</b>: once per long rest, as an action you can choose to spend 1 to 3 Sorcery
      Points to push the odds in your favor. You gain access to a number of d6s equal to the amount of Sorcery Points
      you spent. Whenever you make a saving throw or take damage, you can expend a d6 and add the result to the save or
      reduce the damage.</p>
  </li>
</ul>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Your Game, My Rules</h1>
<p id="ability-text" class="text-left mx-5">At 6th level, whenever you cast a spell that deals Fire or Cold damage you
  may spend 1 Sorcery point, this has the following effects depending on the subjects resistance or immunity to Fire or
  Cold damage.</p>

<ul class="text-left mx-5 mb-5">
  <li>
    <p id="ability-text">If the target has Immunity to Fire or Cold damage, they are treated as having Resistance to
      Fire or Cold damage.</p>
  </li>
  <li>
    <p id="ability-text">If the target has Resistance to Fire or Cold damage, this Resistance is ignored.</p>
  </li>
  <li>
    If the target has no Immunity or Resistance to Fire or Cold damage they take additional Fire or Cold damage equal to
    your Charisma modifier.
  </li>
</ul>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Aura of the Wicked</h1>
<p id="ability-text" class="text-left mx-5 mb-5">At 14th level, as an action, you can spend 4 Sorcery Points to draw on
  your demonic origins and manifest an aura of extreme temperatures. At the start of each of your tun, all creatures
  within 5 ft of you takes 3d6 Fire or Cold damage (your choice). A creature that touches you or hits you with a melee
  attack while within 5 feet of you takes 3d6 Fire or Cold damage. This aura lasts for 1 minute or until you go
  unconscious.</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Blasphemous Comsuption</h1>
<p id="ability-text" class="text-left mx-5 mb-5">At 18th level, once per long rest, as an action, you can reach out
  towards a creature within 5 ft of you. You reach towards its soul and set it ablaze. The creature must succeed on a
  Constitution saving throw or take 10d10 Fire or Cold damage (your choice). If this reduces the target’s hit points to
  0, you can choose to consume its soul and add to your maximum hit points equal to your Sorcerer level. The bonus to
  your max hit points will be reverted after 1 minute.</p>