body{
    background-image: url("/static/img/background/parchment_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

html,body {
    min-height: 100%;
}

.dropdown-menu {
    background-color: darkred;
    padding: 0rem;
    border: rgba(0, 0, 0, 0.336);
    border-style: groove;
    border-width: 1px;
}

.dropdown-item {
    color: white;
    transition: 300ms ease-in;
    padding: 1rem;
    border: rgba(0, 0, 0, 0.336);
    border-style: groove;
    border-width: 1px;
}

.dropdown-item:hover {
    color: white;
    background-color: rgb(110, 2, 2);
}

#main-name{
    font-family: 'Alegreya', serif;
    font-size: 7mm;
}

#main-navbar, hr{
    background-color: darkred;
}

#main-title, #cc-title{
    font-family: 'Alegreya', serif;
    font-weight: bold;
    font-size: 15mm;
    color: rgb(88, 25, 25); 
}

#cc-subtitle, #spell-title{
    font-family: 'Alegreya', serif;
    font-weight: bold;
    color: darkred;
}

#region-title{
    font-family: 'Alegreya', serif;
    font-weight: bolder;
    font-size: 10mm;
    color: darkred
}

#region-hr{
    height: 2px;
}

#region-div{
    width: 265px;
}

#region-list{
    font-family: 'Alegreya', serif;
    font-weight: bolder;
    font-size: 6mm;
    color: rgb(88, 25, 25);
}

#overview-title, #boon-title, #region-specific-origin, #races, #subclasses div h2, #ability-title, #patrons-list-div, #divinity-list-div {
    font-family: 'Alegreya', serif;
    font-weight: bold;
    color: rgb(88, 25, 25);
}

#boons, #race-info, #overview-text, #ability-text, #subclass-overview-text, th, td, #patron-info, #divinity-info, #divinity-sub, #patheon-info, #spell-table-div, #spell-sub{
    color: rgb(88, 25, 25);
}

#boons-hr{
    width: 500px;
}

#region-specific-origin a{
    font-size: 20px;
    align-self: center;
    background-color: #f1efeabe;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 400px;
    border-color: darkred;
    border-style: groove;
    border-width: 1px;
}

#races a{
    font-size: 25px;
    background-color: #f1efeabb;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 200px;
    border-color: darkred;
    border-style: groove;
    border-width: 2px;
}

#patrons-list-div a, #divinity-list-div a{
    font-size: 25px;
    background-color: #f1efea93;
    margin-bottom: 40px;
    margin-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 200px;
    border-color: darkred;
    border-style: groove;
    border-width: 2px;
}

#subclasses div{
    border-color: darkred;
    border-style: groove;
    border-width: 2px;
    background-color: #f1efea9d;
    width: 275px;
}

#subclasses div a, #races a, #region-names a, #region-specific-origin a, #patrons-list-div a, #divinity-list-div a{
    display: block;
    color: darkred;
}

#race-info, #patron-info, #divinity-info, #divinity-sub, #patheon-info, #spell-table-div, #spell-sub{
    background-color: #f1efea9d;
    border-color: darkred;
    border-style: groove;
    border-width: 2px;
}

#subclass-overview-text{
    background-color: #f1efea9d;
    border-style: groove;
    border-width: 2px;
}

#subclass-emotion-red{
    color: red;
}

#subclass-emotion-orange{
    color: orange;
}

#subclass-emotion-yellow{
    color: gold;
}

#subclass-emotion-green{
    color: green;
}

#subclass-emotion-blue{
    color: blue;
}

#subclass-emotion-pink{
    color: deeppink;
}

#subclass-emotion-purple{
    color: darkmagenta;
}

table, th, td{
    background-color: #f1efea9d;
    border-color: darkred;
    border-style: groove;
    border-width: 2px;
    padding: 5px;
}

#region-icons{
    width: auto;
}

#patron-info, #patheon-info{
    max-width: 1200px;
}

#divinity-sub, #divinity-img, #spell-table, #spell-sub{ 
    width: 100%;
}

#spell-table-div{
    height: 400px;
    border-right-width: 3px;
    border-top-width: 3px;
    border-bottom-width: 3px;
}

#spell-title{
    color: darkgoldenrod;
}

#spell-table th, #spell-table td, #spell-table{
    border-bottom-width: 0;

    border-left-width: 1px;
    border-right-width: 0;
}

#spell-table, #spell-table th{
    border-top-width: 0;
}

#spell-table th:nth-child(1){
    width: 50%;
}

#spell-table td:nth-child(1){
    padding-left: 10px;
}

#spell-table th{
    background-color: #f1efea;
    position: sticky;
    top: 0;
    border-bottom-width: 4px;
    cursor: pointer;
}

@media screen and (min-width: 200px) {
    #origin-isox-map{
        display: none;
    }
}

@media screen and (min-width: 650px) {
    #index-isox-map{
        width: 100%;
    }

    #origin-isox-map{
        width: 70%;
    }

    #region-div{
        margin-left: -30px;
        width: 200px;
    }

    #patron-img{
        width: 75%;
    }

    #origin-isox-map{
        display: block;
    }

    #race-img{
        width: 75%;
    }
}
  
  @media screen and (min-width: 800px) {
    #index-isox-map{
        width: 75%;
    }

    #origin-isox-map{
        width: 75%;
        
    }
    #region-div{
        margin-left: 0;
        width: 265px;
    }

    #patron-main, #divinity-main, #patheon-main, #race-main{
        display: flex;
        align-items: flex-start;
    } 

    #patron-info, #patheon-info, #divinity-info{
        width: 1200px;
    }

    #patron-img{
        width: 40%;
    }

    #divinity-sub, #divinity-img, #spell-sub{
        max-width: 400px;
    }

    #divinity-list-div{
        margin-left: 100px;
    }

    #origin-isox-map{
        display: block;
    }

    #race-img{
        width: 40%;
    }

    #spell-sub{
        max-height: 400px;
    }
}