body{
    background-image: url("/static/img/background/parchment_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#main-name{
    font-family: 'Alegreya', serif;
    font-size: 7mm;
}

#main-navbar, hr{
    background-color: darkred;
}

#main-title, #cc-title{
    font-family: 'Alegreya', serif;
    font-weight: bold;
    font-size: 15mm;
    color: rgb(88, 25, 25); 
}

#cc-subtitle{
    font-family: 'Alegreya', serif;
    font-weight: bold;
    color: darkred;
}

#region-title{
    font-family: 'Alegreya', serif;
    font-weight: bolder;
    font-size: 10mm;
    color: darkred
}

#region-hr{
    height: 2px;
}

#region-div{
    width: 265px;
}

#region-list{
    font-family: 'Alegreya', serif;
    font-weight: bolder;
    font-size: 6mm;
    color: rgb(88, 25, 25);
}

#overview-title, #boon-title, #region-specific-origin, #races, #subclasses div h2, #ability-title {
    font-family: 'Alegreya', serif;
    font-weight: bold;
    color: rgb(88, 25, 25);
}

#boons, #race-info, #overview-text, #ability-text, #subclass-overview-text, th, td{
    color: rgb(88, 25, 25);
}

#boons-hr{
    width: 500px;
}

#region-specific-origin a{
    font-size: 20px;
    align-self: center;
    background-color: #f1efea;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 400px;
}

#races a{
    font-size: 25px;
    background-color: #f1efeabb;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 200px;
}

#subclasses div{
    border-color: darkred;
    border-style: groove;
    border-width: 2px;
    background-color: #f1efea9d;
    width: 275px;
}

#subclasses div a{
    display: block;
    color: darkred;
}

#race-info{
    background-color: #f1efea9d;
    border-color: darkred;
    border-style: groove;
    border-width: 2px;
}

#subclass-overview-text{
    background-color: #f1efea9d;
    border-style: groove;
    border-width: 2px;
}

table, th, td{
    border: 1px solid black;
    background-color: #f1efea9d;
    border-color: darkred;
    border-style: groove;
    border-width: 2px;
    padding: 5px;
}