body{
    background-image: url("/static/img/background/parchment_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#main-name{
    font-family: 'Alegreya', serif;
    font-size: 7mm;
}

#main-navbar{
    background-color: darkred;
}

#main-title{
    font-family: 'Alegreya', serif;
    font-weight: bold;
    font-size: 15mm;
}