<h1 id="cc-title" class="text-center">Monk</h1>

<h2 id="cc-subtitle" class="text-center mb-5">Way of the Silver Wing</h2>

<p id="subclass-overview-text" class="text-left mx-5 mb-5 p-2 rounded">
    <i>Those who follow the Way of the Silver Wing are taught within the confines of the Silvered Institution. They are
        both expert combatants as well as skilled scholars. Following the teachings of Ayrveog, the God of Knowledge,
        Way of the Silver Wing monks are driven by the thrill of learning new things and preserving them for future
        generations. They learn that not all disputes are solved with the swinging of a sword but can be ended with the
        sharing of information. After all, one who has knowledge, has the power.</i>
</p>

<h1 id="ability-title" class="text-left ml-5">Sage's Insight</h1>
<p id="ability-text" class="text-left mx-5 mb-5">When you select this subclass at 3rd level, you can use Intelligence as your main statistics for the Monk class features, gain expertise in the History skill and know 1 additional language</p>

<h1 id="ability-title" class="text-left ml-5">Freezing Intuition </h1>
<p id="ability-text" class="text-left mx-5 mb-4">At 3rd level, your Flurry of Blows deal Cold damage instead and when
    you hit a creature with your Flurry of Blows, you have advantage on your next knowledge check on that creature.</p>


<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Disciple of The All Knowing</h1>
<p id="ability-text" class="text-left mx-5 mb-2">At 6th level, your time learning from Ayrveog’s collection of
    knowledge allows you to tap into a portion of his powers and predict your opponents actions. You may spend 1 Ki to
    summon a silver spectral wing from your back for 10 minutes and gain the following benefits:</p>

<p id="ability-text" class="text-left mx-5 mb-2"><b>Quickening Silver</b>: your movement speed increases by 10ft.</p>
<p id="ability-text" class="text-left mx-5 mb-4"><b>Precognition Counter</b>: when you are attacked, as a reaction, you
    can spend 2 Ki to grant yourself a bonus + 1 AC till the start of your next turn and if the attack still hits, the
    attacking creature takes Cold damage equal to your monk level + your Wisdom modifier (min of 1 damage).</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Reactive Extraction</h1>
<p id="ability-text" class="text-left mx-5 mb-4">At 11th level, when you use Precognition Counter and an attack misses
    you, you can immediately make an unarmed melee attack against that creature. When that attack hits, you instantly
    succeed on a knowledge check on that creature.</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Mental Frostburn</h1>
<p id="ability-text" class="text-left mx-5 mb-4">At 17th level, when you land a melee attack, you can spend 3 Ki to
    imbue your strike. The target of your attack must make a Wisdom saving throw and if it fails, the creature takes 4d8
    Psychic damage and 4d8 Cold damage and only take the Cold damage on a successful save. In addition, at the start of
    each of its turn, that enemy takes 2d8 Cold damage and have its movement speed is reduced by 10ft as ice slowly form
    around it. If the creature’s HP and movement is reduced to 0 by this effect, it is completely encased in ice and
    requires an action to break. The creature can make the save again at the end of each of its turn.</p>