<h1 id="cc-title" class="text-center">Monk</h1>

<h2 id="cc-subtitle" class="text-center mb-5">Way of the Tactician</h2>

<p id="subclass-overview-text" class="text-left mx-5 mb-5 p-2 rounded">
    <i>TO BE DETERMINED</i>
</p>

<h1 id="ability-title" class="text-left ml-5">Tactical Mind</h1>
<p id="ability-text" class="text-left mx-5 mb-3">Starting at 3rd level, you can spend Ki points to issue orders for your comrades
    by observing your opponents and taking advantage of their weaknesses. To issue an order, you must be able to speak
    and be heard by the subject of the order. The subject of the order must also be able to see the target, if it is an
    attack order.</p>
<p id="ability-text" class="text-left mx-5 mb-3">Orders include the following:</p>
<p id="ability-text" class="text-left mx-5 mb-2"><b>Observe</b>: As a bonus action, you can spend 1 Ki point to observe
    a creature and grant yourself or an ally within 30 ft of you that can see and hear you advantage on the next skill
    check for one of the following:</p>
<ul class="text-left mx-5">
    <li>
        <p id="ability-text">Knowledge check to identify an ability the target used</p>
    </li>
    <li>
        <p id="ability-text">Guess an opponent’s next move (Perception/Insight)</p>
    </li>
    <li>
        <p id="ability-text">Determine if an opponent is bluffing or lying (Insight)</p>
    </li>
    <li>
        <p id="ability-text">Attempt to trick or lie to an opponent (Deception)</p>
    </li>
</ul>
<p id="ability-text" class="text-left mx-5 mb-2"><b>Focus</b>: After you hit a creature with an attack, you can spend 2
    Ki points to signal friendly creatures within 15 feet who can see or hear you as a bonus action. Allies you signal
    can add 1d4 to their first attack rolls until the start of your next turn.</p>
<p id="ability-text" class="text-left mx-5 mb-5"><b>Combat Roll</b>:As a reaction to an ally within 15 ft of you that
    you can see taking damage, you can spend 1 Ki point and allow them to move up to 10 ft away in a direction their
    choosing and reduce the damage taken by an amount equal to your Intelligence modifier (minimum of 1). Attacks of
    opportunity against an ally benefitting from this feature are made with disadvantage.</p>


<h1 id="ability-title" class="text-left ml-5">One Step Ahead</h1>
<p id="ability-text" class="text-left mx-5 mb-5">Also starting at 3rd level, you can use Intelligence as your main statistics for the Monk class features and you add your Intelligence modifier to your initiative rolls.</p>


<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Organized Push</h1>
<p id="ability-text" class="text-left mx-5 mb-3">At 6th level, as an action you can spend 3 Ki points to rally your teammates for a coordinated push. Choose up to 5 allies within 15 ft that can see or hear you and as a reaction, they can immediately move up to 15 ft and deal extra damage equal to your Intelligence modifier (minimum of 1) in their next attack.</p>
<p id="ability-text" class="text-left mx-5 mb-5"> You can use this feature a number of times equal to your Intelligence modifier (minimum of 1), regaining all uses after a long rest.</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Mental Fortitude</h1>
<p id="ability-text" class="text-left mx-5 mb-3">At 11th level, you are resistant to Psychic damage as well as have advantage on Intelligence and Wisdom saving throws.</p>
<p id="ability-text" class="text-left mx-5 mb-5">In addition, you now can make an Intelligence saving throw when a Detect Thoughts spell is casted to learn of your surface thoughts and you are aware that your mind is being probed regardless of the roll.</p>

<h1 id="ability-title" class="text-left ml-5">Additional Orders</h1>
<p id="ability-text" class="text-left mx-5 mb-3">Also at 11th level, you gain the following additional orders:</p>

<p id="ability-text" class="text-left mx-5 mb-3"><b>Surpass Limit</b>: When a creature within 15 ft of you has already used their reaction, as a reaction you may spend 3 Ki point per turn to grant them an additional reaction.</p>
<p id="ability-text" class="text-left mx-5 mb-3"><b>Defensive Edge</b>: As a reaction, you can spend 3 Ki Points to organize your party to form a defensive hold. Each ally creature within 15 ft of you that can see or hear you gains +1 to their AC and have advantage on Dexterity saving throws until the start of their next turn.</p>
<p id="ability-text" class="text-left mx-5 mb-5"><b>Rallying Cry</b>: As an action, you can spend 3 Ki points to let out a empowering cry. Each ally within 30 ft that can hear you gains temporary hit points equal to your Monk level.</p>


<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Tactical Genius</h1>
<p id="ability-text" class="text-left mx-5 mb-4">at 17th level, you gain the following benefits:</p>

<b id="ability-text" class="text-left mx-5 mb-5">Constant Awareness:</b>
<p id="ability-text" class="text-left mx-5 mb-3">You are always aware of your surroundings and when you are conscious, you cannot be surprised and neither invisibility nor hiding grants advantage on attacks against you.</p>

<b id="ability-text" class="text-left mx-5 mb-5">Superior Assist:</b>
<p id="ability-text" class="text-left mx-5 mb-3">When you use your action to perform the Help Action to grant advantage on the next attack against a target, you can target a number of allies equal to your Intelligence modifier (minimum of 1) within 15 ft of you.</p>
<p id="ability-text" class="text-left mx-5 mb-5">In addition, those allies also gain a bonus to their next saving throw equal to your Intelligence modifier.</p>
