<h1 id="cc-title" class="text-center">Monk</h1>

<h2 id="cc-subtitle" class="text-center mb-5">Way of the Destruction Style</h2>

<p id="subclass-overview-text" class="text-left mx-5 mb-5 p-2 rounded">
    <i>You are trained in the Destruction Style, a martial arts style focused on obtaining absolute control of
        your body and dealing maximum damage to your opponent. The style focuses on using shockwaves-enhanced
        strikes to either obliterate your enemies completely or at the very least, wound them heavily.</i>
</p>

<h1 id="ability-title" class="text-left ml-5">Way of The Destruction Style</h1>
<p id="ability-text" class="text-left mx-5 mb-5">You are trained in the Destruction Style, a martial arts style focused on obtaining absolute control of your body and dealing maximum damage to your opponent. The style focuses on using shockwaves-enhanced strikes to either obliterate your enemies completely or at the very least, wound them heavily.</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Total Focus Stance</h1>
<p id="ability-text" class="text-left mx-5 mb-3">Starting at 3rd level, as a bonus action, you can enter the Total Focus Stance. When you first enter this stance, choose 1 creature within 30 ft that you can see to be your Total Focus target. You always know the location of the creature as long as it is within 100 ft of you and damage dealt by that creature to you is reduced by an amount equal to a roll of your Martial Arts die.</p>
<p id="ability-text" class="text-left mx-5 mb-5">You can also select a different creature within range as your new Total Focus opponent using a bonus action.</p>

<h1 id="ability-title" class="text-left ml-5">Desolate Hands</h1>
<p id="ability-text" class="text-left mx-5 mb-3">Also at 3rd level, when you hit with a creature with an unarmed strike, you can expend up to a maximum of 3 Ki points to deal extra Force damage equal to a number of rolls of your Martial Arts die equal to the number of Ki spent (I.e if your Martial Arts die is 1d6 and you spent 3 Ki points then the extra damage would be 3d6 Force damage). In addition, against your Total Focus target, the Force damage increases by 1 extra die.</p>
<p id="ability-text" class="text-left mx-5 mb-5">The maximum number of Ki you can spend increases to 4 Ki points at 11th level and to 5 Ki points at 17th level.</p>


<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Destruction Techniques</h1>
<p id="ability-text" class="text-left mx-5 mb-4">At 6th level, you gain the following techniques:</p>

<b id="ability-text" class="text-left mx-5 mb-5">Desert Wind:</b>
<p id="ability-text" class="text-left mx-5 mb-3">You can spend 4 Ki points to empower your strikes with radial storms. Until the end of your turn, all of your unarmed strikes instead unleash a 15ft wave. A creature caught in the waves must make a Constitution saving throw and on a failure, it takes damage from your unarmed strikes as Force damage and half as much on a successful save.</p>
<p id="ability-text" class="text-left mx-5 mb-4">After using Desert Wind, all of your unarmed strikes in your next turn are made with disadvantage.</p>

<b id="ability-text" class="text-left mx-5 mb-5">Hush:</b>
<p id="ability-text" class="text-left mx-5 mb-3">When you hit a creature with an unarmed attack, you can spend 2 Ki points to attempt to silence it. The target suffers extra Force damage equal to 1 roll of your Martial Arts die and must succeed on a Constitution saving throw or be unable to speak or make sounds through their mouth until the start of your next turn.</p>
<p id="ability-text" class="text-left mx-5 mb-5">If the target is your Total Focus target, it has to make the Constitution saving throw at disadvantage.</p>


<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Reactive Core</h1>
<p id="ability-text" class="text-left mx-5 mb-3">At 11th level, when you hit a target with an unarmed strike, you gain temporary hit points equal to a roll of your Martial Arts die. If the strike is against your Total Focus target, the temporary hit points gained is equal to 2 rolls of your Martial Arts die.</p>
<p id="ability-text" class="text-left mx-5 mb-5"> While the temporary hit points gained from Reactive Core is active, as a bonus action you can choose to expend them all and deal Force damage to a number of creatures within 15 ft of you equal to your Wisdom modifier. The damage is divided as you choose among the targeted creatures.</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Hysteria</h1>
<p id="ability-text" class="text-left mx-5 mb-3">At 17th level, as an action you unbound your restraints and enter a frenzy. For 1 minute, your movement speed is doubled and Flurry of Blows grants you 3 unarmed strikes instead of 2.</p>
<p id="ability-text" class="text-left mx-5 mb-5">In addition, each instance of damage you take is reduced by a roll of your Martial Arts die and when you fall below half hit points while Hysteria is active, all creatures within 15 ft of you must make a Constitution saving throw or take Force damage equal to your Monk level on a failure and half as much on a successful save.</p>