<h1 id="cc-title" class="text-center">Wizard</h1>

<h2 id="cc-subtitle" class="text-center mb-5">School of Chorosurgy</h2>

<p id="subclass-overview-text" class="text-left mx-5 mb-5 p-2 rounded">
    <i>Diving deep into the mysteries of one of the fundamental forces of the universe, students of the school of
        Chorosurgy seek to further their mastery of manipulating the space that surrounds us all. To you, the fabric
        holding the planes together is nothing but a malleable material and the spells you wield are your instruments
        for the blank canvas of reality.</i>
</p>

<h1 id="ability-title" class="text-left ml-5">Rift Ward</h1>
<p id="ability-text" class="text-left mx-5 mb-3">At 2nd level, you gain a number of wards equal to your proficiency
    bonus and when you or a creature you can see within 30 ft of you misses an attack roll, you can expend a ward as a
    reaction to reroll the attack and the result of the second roll must be used.</p>
<p id="ability-text" class="text-left mx-5 mb-5">You regain all expended wards when you finishes a long rest.</p>


<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Distortion Barrier</h1>
<p id="ability-text" class="text-left mx-5 mb-3">At 2nd level, when you cast a Chorosurgy spell of 1st level or higher,
    you can simultaneously create a temporary barrier around yourself that lasts until you finish a long rest. The
    barrier has hit points equal to twice your wizard level + your intelligence modifier. Whenever you take damage, the
    barrier takes the damage instead. If this damage reduces the barrier to 0 hit points, you take any remaining damage.
</p>
<p id="ability-text" class="text-left mx-5 mb-3">When the barrier is reduced to 0 hit points, you can make an ability
    check using your spellcasting modifier. The DC equals half the damage taken by the barrier that destroyed it. On a
    success, you harness the residual energy and distort the space around a creature within 15 ft of you, doubling its
    movement speed and have opportunity attacks against it to be made at disadvantage until the end of its next turn.
</p>
<p id="ability-text" class="text-left mx-5 mb-5">Once you create the barrier, you can't create it again until you finish
    a long rest.</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Dimensional Passage</h1>
<p id="ability-text" class="text-left mx-5 mb-3">At 6th level, as an action you create a portal in an unoccupied space
    next to you and as a bonus action, you can create a second portal in an unoccupied space within 60 ft of you that
    you can see. The portals are connected and can be used both ways. After both portals are summoned, designate a
    number of creatures (excluding yourself) equal to your Intelligence modifier, only those creatures can use the
    portals.</p>
<p id="ability-text" class="text-left mx-5 mb-3">When both portals are active, you can move a portal with a bonus action
    to a different unoccupied space within 60 ft of you. There can only be a maximum of 2 portals present on the field
    at a time. In addition, the portals cannot be destroyed and can only be remove with dispel effects.</p>
<p id="ability-text" class="text-left mx-5 mb-5">You can spend a bonus action to dispel a portal, if not dispelled, the
    portals will last up to 10 minutes with no concentration required.</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Empowered Reality Shift</h1>
<p id="ability-text" class="text-left mx-5 mb-5">At 10th level, whenever you cast a Chorosurgy spell, you can expend 2
    Rift wards to have the spell act as if it was casted using a spell slot 2 levels higher. In addition, the
    teleportation range of the spell (if it has one) increases by 15 ft.</p>


<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Isolated Recovery</h1>
<p id="ability-text" class="text-left mx-5 mb-3">At 14th level, as a reaction to falling to 0 hit points, you can choose
    to instead be encased in an isolated space. While in stasis, you are invulnerable to all damage and can not be
    moved. At the start of each of your turn, you can choose between the following effects:</p>

<ul class="text-left mx-5 mb-3">
    <li>
        <p id="ability-text">You regain 2d8 hit points.</p>
    </li>
    <li>
        <p id="ability-text">You regain number of spell slots with a combined level equal to half of the result of a 2d8
            roll, rounded up.</p>
    </li>
</ul>

<p id="ability-text" class="text-left mx-5 mb-5">The statis lasts for 4 turns or until you choose to exit early at the
    end of each of your turns while the stasis is active. Once you use this feature you can't use it again until you
    finish a long rest.</p>