<h1 id="cc-title" class="text-center">Paladin</h1>

<h2 id="cc-subtitle" class="text-center mb-5">Oath of The Void</h2>

<p id="subclass-overview-text" class="text-left mx-5 mb-5 p-2 rounded"><i>To swear an Oath of The Void is swearing a
    commitment to serve the Undeath Queen. Bathe in the darkness of the Void, paladins who swear this oath will be
    shunned, chastised and feared by many. However, to be swayed by the ideals of those who can not see behind the veil
    is to be fragile, not what a messenger of the Queen is supposed to represent. You take this oath because you love
    and care for the world and its people and you are not afraid to fight evil corruption with your own darkness.</i>
</p>

<h1 id="ability-title" class="text-left ml-5">Tenets of The Void</h1>
<p id="ability-text" class="text-left mx-5">The tenets of the Void are held by paladins to safeguard the Void and
  prevent the balance between it and the material plane from collapsing.</p>
<ul class="text-left mx-5">
  <li>
    <p id="ability-text"><b>Some Secrets are Better Left Unknown</b>: Knowledge is power and it can do unimaginable
      damage. Keep safe the secrets of the Queen’s domain.</p>
  </li>
  <li>
    <p id="ability-text"><b>Loyalty to the Queen</b>: Do not be sway by gifts or favors. Stay true to your order as a
      servant of the Undeath Queen.</p>
  </li>
  <li>
    <p id="ability-text"><b>No Mercy for the Uninvited</b>: You are what stands between invaders wanting to cross
      between The Void and other planes. Snuff them out, with extreme prejudice.</p>
  </li>
  <li>
    <p id="ability-text"><b>Shine in the Dark</b>: Cutia is a kind soul and you should always greet with a smile for
      nothing is stronger in a time of despair.</p>
  </li>
</ul>

<h1 id="ability-title" class="text-left ml-5">Oath Spells</h1>
<p id="ability-text" class="text-left mx-5 mb-3"> You gain oath spells at the paladin levels listed.</p>

<table class="mx-5 mb-5">
  <tr>
    <th class="p-1">Paladin Level</th>
    <th class="p-1">Spells</th>
  </tr>
  <tr>
    <td>3rd</td>
    <td>Inflict Wounds, Cause Fear</td>
  </tr>
  <tr>
    <td>5th</td>
    <td>Invisibility, Blindness/Deafness</td>
  </tr>
  <tr>
    <td>9th</td>
    <td>Animate Dead, Spirit Shroud</td>
  </tr>
  <tr>
    <td>13th</td>
    <td>Phantasmal Killer, Black Tentacles</td>
  </tr>
  <tr>
    <td>17th</td>
    <td>Contagion, Negative Energy Flood</td>
  </tr>
</table>

<h1 id="ability-title" class="text-left ml-5">Channel Divinity: Void Field</h1>
<p id="ability-text" class="text-left mx-5 mb-3">As an action, you summon a 30ft radius cloud of Void darkness and
  heavily obscured the area that lasts for 10 minutes. You and any creatures you choose within 5ft of you can see
  normally in this darkness. Creatures within this zone will have to make attack rolls and Perception checks at
  disadvantage, even with Darkvision. While in this zone, your weapon deals an extra 1d4 necrotic damage and you are
  healed for the amount of necrotic damage dealt.</p>

<h1 id="ability-title" class="text-left ml-5">Channel Divinity: The Queen's Command</h1>
<p id="ability-text" class="text-left mx-5 mb-3">As a bonus action, select 1 Undead creature within 30ft of you that you
  can see. That creature must make a Wisdom saving throw or be charmed for 1 minute. This charm effect bypass the charm
  immunity if that creature has it. The creature can make the saving throw again at the end of each of its turn.</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Aura of the Living</h1>
<p id="ability-text" class="text-left mx-5">At 7th level, you and allies within 10ft of you are resistant to necrotic
  damage and attacks from Undead creatures within the aura has disadvantage</p>
<p id="ability-text" class="text-left mx-5">At 18th level, the range of this aura increase to 30ft</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Relentless Darkness</h1>
<p id="ability-text" class="text-left mx-5 mb-5"> At 15th level, Void Field now follows you and you gain a +1 necrotic
  damage to your weapon damage roll whenever you defeats an enemy within Void Field.</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Void Champion</h1>
<p id="ability-text" class="text-left mx-5">At 20th level, you become one of the direct servants of Cutia. As an action,
  you can undergo a transformation. For 1 minute, you gain the following benefits:</p>

<ul class="text-left mx-5">
  <li>
    <p id="ability-text">You are resistant to bludgeoning, slashing and piercing damage and immune to necrotic damage.
    </p>
  </li>
  <li>
    <p id="ability-text">When you are hit with a melee attack, the attacking creature takes necrotic damage equal to
      half the damage you taken from the attack.</p>
  </li>
</ul>

<p id="ability-text" class="text-left mx-5 mb-5"> When you hit a creature, that creature must succeed on a Wisdom saving
  throw or be Frightened of you and have its movement speed reduced to 0 until the end of its next turn. On a successful
  save, the creature just have its movement speed reduced by half. Once you use this feature, you can't use it again
  until you finish a long rest.</p>