<h1 id="cc-title" class="text-center">Paladin</h1>

<h2 id="cc-subtitle" class="text-center mb-5">Oath of The Sacrifice</h2>

<p id="subclass-overview-text" class="text-left mx-5 mb-5 p-2 rounded"><i>The Oath of Sacrifice is an oath upheld by
    those who value the safety of their allies over their own. This oath is one of the most dangerous oaths a Paladin
    can take and those who choose to walk down this path understand the risk of doing so. However, being able to protect
    their friends, families and allies is well worth it.</i>
</p>

<h1 id="ability-title" class="text-left ml-5">Tenets of Sacrifice</h1>

<p id="ability-text" class="text-left mx-5 mb-3"><b> No Price is Too High</b>: No matter what, you must be ready to be
  the shield. Your body is a small price to pay for the safety of others.</p>
<p id="ability-text" class="text-left mx-5 mb-3"><b>The Burden is Yours to Bear</b>: When the time comes, it is your
  responsibility to shoulder the pain of others and bring hope.</p>
<p id="ability-text" class="text-left mx-5 mb-3"><b>Know Who Deserves Your Shield</b>: While always ready to protect,
  know who deserves your sacrifice, as some will not appreciate it, and others will take advantage of it.</p>
<p id="ability-text" class="text-left mx-5 mb-5"><b>Live With No Regrets</b>: To be willing to put yourself in front of
  others, be proud of decisions you make and strive to leave behind a legacy worthy of your sacrifice.</p>

<h1 id="ability-title" class="text-left ml-5">Oath Spells</h1>
<p id="ability-text" class="text-left mx-5 mb-3">You gain oath spells at the paladin levels listed.</p>

<table class="mx-5 mb-5">
  <tr>
    <th class="p-1">Paladin Level</th>
    <th class="p-1">Spells</th>
  </tr>
  <tr>
    <td>3rd</td>
    <td>Sanctuary, Cure Wounds</td>
  </tr>
  <tr>
    <td>5th</td>
    <td>Warding Bond, Aid</td>
  </tr>
  <tr>
    <td>9th</td>
    <td>Life Transference, Intellect Fortress</td>
  </tr>
  <tr>
    <td>13th</td>
    <td>Aura of Life, Death Ward</td>
  </tr>
  <tr>
    <td>17th</td>
    <td>Dispel Evil and Good, Mass Cure Wounds</td>
  </tr>
</table>

<h1 id="ability-title" class="text-left ml-5">Channel Divinity: Sacrificial Shield</h1>
<p id="ability-text" class="text-left mx-5 mb-5">As a reaction to an ally within <b>60 ft</b> of you being attacked, you
  can use your Channel Divinity to swap places with that ally. The attack must use an attack roll to hit and this
  feature must be used before any damage is applied and the attack will then switch to be against your AC.</p>

<h1 id="ability-title" class="text-left ml-5">Channel Divinity: Hopeful Blessing</h1>
<p id="ability-text" class="text-left mx-5 mb-5">As a reaction to an ally within <b>30 ft</b> of you making an attack
  roll, ability check or saving throw, you can use your Channel Divinity to grant them a bonus equal to your
  <b>Charisma</b> modifier.</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Aura of Selflessness</h1>
<p id="ability-text" class="text-left mx-5 mb-3">At <b>7th</b> level, you emit an aura of aid to your allies, at the
  expense of your own vitality. This aura has a radius of <b>10ft</b>, which increases to <b>30ft</b> when you reach
  <b>18th</b> level.</p>
<p id="ability-text" class="text-left mx-5 mb-5">Whenever an ally within the aura would take damage, you may choose to
  reduce that damage by half. If you do so, the other half of damage is inflicted upon you and in return, that ally
  receives temporary hit points equal to your Constitution modifier.</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Stand Strong</h1>
<p id="ability-text" class="text-left mx-5 mb-5">At <b>15th</b> level, when a creature within range of your Aura of
  Blood is reduced to <b>0 HP</b> or killed outright, you can spend a reaction for them to instead be dropped to <b>1
    HP</b>. When you use this feature, you take damage equal to the damage they took.</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Keeper of The Gates of Death</h1>
<p id="ability-text" class="text-left mx-5">At <b>20th</b> level, you can sacrifice a grand portion of your life essence
  to receive powers to protect others. You can enter this form using an action that lasts for <b>1 minute</b> and gain
  the following benefits:</p>

<ul class="text-left mx-5 mb-5">
  <li>
    <p id="ability-text">Your current HP is halved and the HP you lose then gather to form a pool of HP that you can
      distribute. Upon entering this form, you can choose to distribute from this HP pool to a number of creatures
      within <b>30 ft</b> of you equal to your Charisma modifier. Creatures that are at full health will receive
      temporary HP instead. Any residual HP left in the pool after being distributed will then be converted to extra
      damage that you will deal on your next attack.</p>
  </li>
  <li>
    <p id="ability-text">Your Lay on Hands pool refreshes and now has a range of <b>30 ft</b>.</p>
  </li>
  <li>
    <p id="ability-text">You gain Truesight of <b>120 ft</b>.</p>
  </li>
</ul>