<h1 id="cc-title" class="text-center">Rogue</h1>

<h2 id="cc-subtitle" class="text-center mb-5">Pirate</h2>

<p id="subclass-overview-text" class="text-left mx-5 mb-5 p-2 rounded">
    <i>Born among the Boundless Ocean, your youth is spent under the wings of the scalawags of the ocean. They taught
        you the lifestyle of a ruthless survivor among these waters filled with savages. Now, like the water you sail
        upon, you are free from obstacles that blocks your path and with the wind behind your back, the sky is the
        limit.</i>
</p>

<h1 id="ability-title" class="text-left ml-5">On The Move</h1>
<p id="ability-text" class="text-left mx-5 mb-5">Starting at 3rd level, you can drink potions using a bonus action. In
    addition, you gain a climbing and swimming speed equal to your walking speed.</p>

<h1 id="ability-title" class="text-left ml-5">Savage Strike</h1>
<p id="ability-text" class="text-left mx-5 mb-5"> Also starting from when you choose this subclass at 3rd level, you
    don't need the Finesse property on a weapon to use your Sneak Attack if that weapon is being wielded in one hand.
    All other restrictions for that class feature still apply.</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Trash Talker</h1>
<p id="ability-text" class="text-left mx-5 mb-5"> At 9th level, you can use your bonus action to attempt to challenge an
    enemy. The target must be within 30 ft of you that you can see and must make a Wisdom (Insight) check contested by
    your Charisma (Persuasion) check. If your check succeeds, you have advantage on your next attack against that target
    and it had disadvantage on its next attack against you. If your check fails, the creature gains the bonus.</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Slippery Tricks</h1>
<p id="ability-text" class="text-left mx-5 mb-5"> At 13th level, when you use your Uncanny Dodge to reduce the damage
    from a melee attack from a creature that is within 5 ft of you, you can immediately make a melee attack against that
    creature.</p>

<hr class="mx-5 mb-5">

<h1 id="ability-title" class="text-left ml-5">Feared Legend</h1>
<p id="ability-text" class="text-left mx-5 mb-5"> At 17th level, you emit a 15 ft radius aura of fear. Enemies entering
    the aura for the first time must succeed on a Wisdom saving throw (DC = 8 + your Proficiency bonus + your Charisma
    modifier) or be Frightened of you and can not move until the end of your next turn. In addition, you have advantage
    on attacks against creatures frightened of you by the aura.</p>